dans ce fichier nous allons mettre les requêtes de filtres et nettoyage des données

In [2]:
import pandas as pd
films_tmdb_imdb = pd.read_csv("./donnees/table_films_select.csv",sep='\t', low_memory=False)

In [5]:
films_tmdb_imdb = films_tmdb_imdb.drop('Unnamed: 0',axis=1)

In [13]:
films_tmdb_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770236 entries, 0 to 770235
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 770236 non-null  bool
 1   budget                770236 non-null  int64
 2   genres                770236 non-null  object
 3   id                    770236 non-null  int64
 4   imdb_id               770236 non-null  object
 5   original_language     770236 non-null  object
 6   original_title        770236 non-null  object
 7   overview              732422 non-null  object
 8   popularity            770236 non-null  float64
 9   poster_path           729654 non-null  object
 10  production_countries  770236 non-null  object
 11  release_date          762336 non-null  datetime64[ns]
 12  revenue               770236 non-null  int64
 13  runtime               770236 non-null  int64
 14  spoken_languages      770236 non-null  object
 15  status                770236 non-null  object
 16  title                 770236 non-null  object
 17  vote_average          770236 non-null  float64
 18  vote_count            770236 non-null  int64
 19  tconst                770236 non-null  object
 20  directors             770236 non-null  object
 21  writers               770236 non-null  object
 22  nconst                770138 non-null  object
 23  category              770138 non-null  object
 24  characters            770138 non-null  object
 25  primaryName           770138 non-null  object
 26  knownForTitles        770138 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(18)
memory usage: 153.5+ MB

In [9]:
films_tmdb_imdb['release_date'] = pd.to_datetime(films_tmdb_imdb['release_date'])

In [ ]:
films_tmdb_imdb = films_tmdb_imdb.drop('tagline',axis=1)

In [21]:
films_tmdb_imdb.isna().sum()

adult                   0
budget                  0
genres                  0
id                      0
imdb_id                 0
original_language       0
original_title          0
overview                0
popularity              0
poster_path             0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
title                   0
vote_average            0
vote_count              0
tconst                  0
directors               0
writers                 0
nconst                  0
category                0
characters              0
primaryName             0
knownForTitles          0
dtype: int64

In [16]:
films_tmdb_imdb.dropna(subset=['overview'],inplace=True)

In [17]:
films_tmdb_imdb.dropna(subset=['poster_path'],inplace=True)

In [18]:
films_tmdb_imdb.dropna(subset=['release_date'],inplace=True)

In [20]:
films_tmdb_imdb.dropna(subset=['nconst','category','characters','primaryName','knownForTitles'],inplace=True)

In [22]:
films_tmdb_imdb = films_tmdb_imdb.drop('tconst',axis=1)

In [25]:
films_tmdb_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 694699 entries, 0 to 770235
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 694699 non-null  bool
 1   budget                694699 non-null  int64
 2   genres                694699 non-null  object
 3   id                    694699 non-null  int64
 4   imdb_id               694699 non-null  object
 5   original_language     694699 non-null  object
 6   original_title        694699 non-null  object
 7   overview              694699 non-null  object
 8   popularity            694699 non-null  float64
 9   poster_path           694699 non-null  object
 10  production_countries  694699 non-null  object
 11  release_date          694699 non-null  datetime64[ns]
 12  revenue               694699 non-null  int64
 13  runtime               694699 non-null  int64
 14  spoken_languages      694699 non-null  object
 15  status                694699 non-null  object
 16  title                 694699 non-null  object
 17  vote_average          694699 non-null  float64
 18  vote_count            694699 non-null  int64
 19  directors             694699 non-null  object
 20  writers               694699 non-null  object
 21  nconst                694699 non-null  object
 22  category              694699 non-null  object
 23  characters            694699 non-null  object
 24  primaryName           694699 non-null  object
 25  knownForTitles        694699 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(17)
memory usage: 138.5+ MB

In [26]:
films_tmdb_imdb = films_tmdb_imdb.rename(columns={'id': 'id_tmdb'})

In [30]:
films_tmdb_imdb[['vote_average','popularity']].sort_values(by='vote_average', ascending=False).value_counts()

vote_average  popularity
0.000         0.600         25684
              1.400          3689
5.000         0.600          3440
0.000         0.840          3334
6.000         0.600          3332
                            ...
6.800         1.294             1
4.100         1.031             1
6.672         3.988             1
4.900         0.854             1
5.900         1.820             1
Name: count, Length: 29444, dtype: int64

In [31]:
#on va filtrer les films ayant une note sup à 5
films_tmdb_imdb_sup5 = films_tmdb_imdb[films_tmdb_imdb['vote_average']>5]

In [32]:
films_tmdb_imdb_sup5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 462885 entries, 0 to 770134
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 462885 non-null  bool
 1   budget                462885 non-null  int64
 2   genres                462885 non-null  object
 3   id_tmdb               462885 non-null  int64
 4   imdb_id               462885 non-null  object
 5   original_language     462885 non-null  object
 6   original_title        462885 non-null  object
 7   overview              462885 non-null  object
 8   popularity            462885 non-null  float64
 9   poster_path           462885 non-null  object
 10  production_countries  462885 non-null  object
 11  release_date          462885 non-null  datetime64[ns]
 12  revenue               462885 non-null  int64
 13  runtime               462885 non-null  int64
 14  spoken_languages      462885 non-null  object
 15  status                462885 non-null  object
 16  title                 462885 non-null  object
 17  vote_average          462885 non-null  float64
 18  vote_count            462885 non-null  int64
 19  directors             462885 non-null  object
 20  writers               462885 non-null  object
 21  nconst                462885 non-null  object
 22  category              462885 non-null  object
 23  characters            462885 non-null  object
 24  primaryName           462885 non-null  object
 25  knownForTitles        462885 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(17)
memory usage: 92.3+ MB

In [35]:
from datetime import datetime

In [36]:
films_tmdb_imdb_sup5['year'] = films_tmdb_imdb_sup5['release_date'].dt.year

C:\Users\gueye\AppData\Local\Temp\ipykernel_4844\2621779178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_tmdb_imdb_sup5['year'] = films_tmdb_imdb_sup5['release_date'].dt.year

In [37]:
films_tmdb_imdb_sup5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 462885 entries, 0 to 770134
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 462885 non-null  bool
 1   budget                462885 non-null  int64
 2   genres                462885 non-null  object
 3   id_tmdb               462885 non-null  int64
 4   imdb_id               462885 non-null  object
 5   original_language     462885 non-null  object
 6   original_title        462885 non-null  object
 7   overview              462885 non-null  object
 8   popularity            462885 non-null  float64
 9   poster_path           462885 non-null  object
 10  production_countries  462885 non-null  object
 11  release_date          462885 non-null  datetime64[ns]
 12  revenue               462885 non-null  int64
 13  runtime               462885 non-null  int64
 14  spoken_languages      462885 non-null  object
 15  status                462885 non-null  object
 16  title                 462885 non-null  object
 17  vote_average          462885 non-null  float64
 18  vote_count            462885 non-null  int64
 19  directors             462885 non-null  object
 20  writers               462885 non-null  object
 21  nconst                462885 non-null  object
 22  category              462885 non-null  object
 23  characters            462885 non-null  object
 24  primaryName           462885 non-null  object
 25  knownForTitles        462885 non-null  object
 26  year                  462885 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(17)
memory usage: 94.0+ MB

In [39]:
films_tmdb_imdb_sup5_2000 = films_tmdb_imdb_sup5[films_tmdb_imdb_sup5['year']>=2000]

In [40]:
films_tmdb_imdb_sup5_2000.info()

<class 'pandas.core.frame.DataFrame'>
Index: 272237 entries, 70 to 770046
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 272237 non-null  bool
 1   budget                272237 non-null  int64
 2   genres                272237 non-null  object
 3   id_tmdb               272237 non-null  int64
 4   imdb_id               272237 non-null  object
 5   original_language     272237 non-null  object
 6   original_title        272237 non-null  object
 7   overview              272237 non-null  object
 8   popularity            272237 non-null  float64
 9   poster_path           272237 non-null  object
 10  production_countries  272237 non-null  object
 11  release_date          272237 non-null  datetime64[ns]
 12  revenue               272237 non-null  int64
 13  runtime               272237 non-null  int64
 14  spoken_languages      272237 non-null  object
 15  status                272237 non-null  object
 16  title                 272237 non-null  object
 17  vote_average          272237 non-null  float64
 18  vote_count            272237 non-null  int64
 19  directors             272237 non-null  object
 20  writers               272237 non-null  object
 21  nconst                272237 non-null  object
 22  category              272237 non-null  object
 23  characters            272237 non-null  object
 24  primaryName           272237 non-null  object
 25  knownForTitles        272237 non-null  object
 26  year                  272237 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(17)
memory usage: 55.3+ MB

In [41]:
len(films_tmdb_imdb_sup5_2000['id_tmdb'].unique())

14672

In [44]:
films_tmdb_imdb_sup5_2000_60 = films_tmdb_imdb_sup5_2000[films_tmdb_imdb_sup5_2000['runtime']>=60]

In [45]:
films_tmdb_imdb_sup5_2000_60.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246079 entries, 70 to 769918
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 246079 non-null  bool
 1   budget                246079 non-null  int64
 2   genres                246079 non-null  object
 3   id_tmdb               246079 non-null  int64
 4   imdb_id               246079 non-null  object
 5   original_language     246079 non-null  object
 6   original_title        246079 non-null  object
 7   overview              246079 non-null  object
 8   popularity            246079 non-null  float64
 9   poster_path           246079 non-null  object
 10  production_countries  246079 non-null  object
 11  release_date          246079 non-null  datetime64[ns]
 12  revenue               246079 non-null  int64
 13  runtime               246079 non-null  int64
 14  spoken_languages      246079 non-null  object
 15  status                246079 non-null  object
 16  title                 246079 non-null  object
 17  vote_average          246079 non-null  float64
 18  vote_count            246079 non-null  int64
 19  directors             246079 non-null  object
 20  writers               246079 non-null  object
 21  nconst                246079 non-null  object
 22  category              246079 non-null  object
 23  characters            246079 non-null  object
 24  primaryName           246079 non-null  object
 25  knownForTitles        246079 non-null  object
 26  year                  246079 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(17)
memory usage: 50.0+ MB

In [58]:
films_tmdb_imdb_sup5_2000_60['status'].value_counts()

status
Released    246079
Name: count, dtype: int64

In [61]:
films_tmdb_imdb_sup5_2000_60 = films_tmdb_imdb_sup5_2000_60[films_tmdb_imdb_sup5_2000_60['spoken_languages'].str.contains('fr')]

In [62]:
films_tmdb_imdb_sup5_2000_60.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78195 entries, 133 to 769653
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 78195 non-null  bool
 1   budget                78195 non-null  int64
 2   genres                78195 non-null  object
 3   id_tmdb               78195 non-null  int64
 4   imdb_id               78195 non-null  object
 5   original_language     78195 non-null  object
 6   original_title        78195 non-null  object
 7   overview              78195 non-null  object
 8   popularity            78195 non-null  float64
 9   poster_path           78195 non-null  object
 10  production_countries  78195 non-null  object
 11  release_date          78195 non-null  datetime64[ns]
 12  revenue               78195 non-null  int64
 13  runtime               78195 non-null  int64
 14  spoken_languages      78195 non-null  object
 15  status                78195 non-null  object
 16  title                 78195 non-null  object
 17  vote_average          78195 non-null  float64
 18  vote_count            78195 non-null  int64
 19  directors             78195 non-null  object
 20  writers               78195 non-null  object
 21  nconst                78195 non-null  object
 22  category              78195 non-null  object
 23  characters            78195 non-null  object
 24  primaryName           78195 non-null  object
 25  knownForTitles        78195 non-null  object
 26  year                  78195 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(17)
memory usage: 15.9+ MB