dans ce fichier nous allons mettre les requêtes de filtres et nettoyage des données

Import pandas

In [2]:
import pandas as pd

Import des données : tables entières

In [5]:
tmdb = pd.read_csv("./donnees/TMDB/tmdb_full.csv", low_memory=False)

In [ ]:
# title_akas = pd.read_csv("./donnees/IMDb/title.akas.tsv/title.akas.tsv", sep="\t", low_memory=False)

In [ ]:
# title_basics = pd.read_csv("./donnees/IMDb/title.basics.tsv/title.basics.tsv", sep="\t", low_memory=False)
# title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [9]:
title_crew = pd.read_csv("./donnees/IMDb/title.crew.tsv/title.crew.tsv", sep="\t", low_memory=False)

In [ ]:
# title_episode = pd.read_csv("./donnees/IMDb/title.episode.tsv/title.episode.tsv", sep="\t", low_memory=False)

In [3]:
title_principals = pd.read_csv("./donnees/IMDb/title.principals.tsv/title.principals.tsv", sep="\t", low_memory=False)

In [ ]:
# title_ratings = pd.read_csv("./donnees/IMDb/title.ratings.tsv/title.ratings.tsv", sep="\t", low_memory=False)

In [16]:
name_basics = pd.read_csv("./donnees/IMDb/name.basics.tsv/name.basics.tsv", sep="\t", low_memory=False)

Filtre par genre = Action et production countries = FR

In [6]:
tmdb_filtre = tmdb[(tmdb['genres'].str.contains('Action'))|(tmdb['production_countries'].str.contains('FR'))]

In [ ]:
tmdb_filtre.info()

Liaisons à faire :
TMDB - Title_crew - title_principals - name_basics

In [31]:
table_films_select = pd.merge(tmdb_filtre, 
                              title_crew,
                              how="left", 
                              left_on = "imdb_id",
                              right_on = "tconst"
                              )

In [ ]:
table_films_select.info()

In [32]:
table_films_select = table_films_select.drop(['backdrop_path','homepage','video','production_companies_name','production_companies_country'],axis=1)

In [34]:
table_films_select = pd.merge(table_films_select, 
                              title_principals,
                              how="left", 
                              left_on = "tconst",
                              right_on = "tconst"
                              )

In [ ]:
table_films_select.head()

In [35]:
table_films_select = table_films_select.drop(['ordering','job'],axis=1)

In [36]:
table_films_select = pd.merge(table_films_select, 
                              name_basics,
                              how="left", 
                              left_on = "nconst",
                              right_on = "nconst"
                              )

In [ ]:
table_films_select.head()

In [37]:
table_films_select = table_films_select.drop(['birthYear','deathYear','primaryProfession'],axis=1)

In [38]:
table_films_select.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770405 entries, 0 to 770404
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 770405 non-null  bool
 1   budget                770405 non-null  int64
 2   genres                770405 non-null  object
 3   id                    770405 non-null  int64
 4   imdb_id               770405 non-null  object
 5   original_language     770405 non-null  object
 6   original_title        770405 non-null  object
 7   overview              732572 non-null  object
 8   popularity            770405 non-null  float64
 9   poster_path           729766 non-null  object
 10  production_countries  770405 non-null  object
 11  release_date          762479 non-null  object
 12  revenue               770405 non-null  int64
 13  runtime               770405 non-null  int64
 14  spoken_languages      770405 non-null  object
 15  status                770405 non-null  object
 16  tagline               244077 non-null  object
 17  title                 770405 non-null  object
 18  vote_average          770405 non-null  float64
 19  vote_count            770405 non-null  int64
 20  tconst                770236 non-null  object
 21  directors             770236 non-null  object
 22  writers               770236 non-null  object
 23  nconst                770138 non-null  object
 24  category              770138 non-null  object
 25  characters            770138 non-null  object
 26  primaryName           770138 non-null  object
 27  knownForTitles        770138 non-null  object
dtypes: bool(1), float64(2), int64(5), object(20)
memory usage: 159.4+ MB

In [39]:
table_films_select.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'tconst', 'directors', 'writers', 'nconst', 'category',
       'characters', 'primaryName', 'knownForTitles'],
      dtype='object')

In [41]:
table_films_select.to_csv('./donnees/table_films_select.csv', sep="\t")