dans ce fichier nous allons mettre les requêtes de filtres et nettoyage des données

Import pandas

In [1]:
import pandas as pd

Import des données : tables entières

In [2]:
tmdb = pd.read_csv("./donnees/TMDB/tmdb_full.csv", low_memory=False)

In [128]:
title_akas = pd.read_csv("./donnees/IMDb/title.akas.tsv/title.akas.tsv", sep="\t", low_memory=False)

In [4]:
# title_basics = pd.read_csv("./donnees/IMDb/title.basics.tsv/title.basics.tsv", sep="\t", low_memory=False)
# title_basics.head()

In [5]:
title_crew = pd.read_csv("./donnees/IMDb/title.crew.tsv/title.crew.tsv", sep="\t", low_memory=False)

In [6]:
# title_episode = pd.read_csv("./donnees/IMDb/title.episode.tsv/title.episode.tsv", sep="\t", low_memory=False)

In [7]:
title_principals = pd.read_csv("./donnees/IMDb/title.principals.tsv/title.principals.tsv", sep="\t", low_memory=False)

In [8]:
# title_ratings = pd.read_csv("./donnees/IMDb/title.ratings.tsv/title.ratings.tsv", sep="\t", low_memory=False)

In [9]:
name_basics = pd.read_csv("./donnees/IMDb/name.basics.tsv/name.basics.tsv", sep="\t", low_memory=False)

Filtre par genre = Action et production countries = FR

In [10]:
tmdb_filtre = tmdb[(tmdb['genres'].str.contains('Action'))|(tmdb['production_countries'].str.contains('FR'))]

In [11]:
tmdb_filtre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45441 entries, 2 to 309568
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   adult                         45441 non-null  bool
 1   backdrop_path                 28949 non-null  object
 2   budget                        45441 non-null  int64
 3   genres                        45441 non-null  object
 4   homepage                      5801 non-null   object
 5   id                            45441 non-null  int64
 6   imdb_id                       45441 non-null  object
 7   original_language             45441 non-null  object
 8   original_title                45441 non-null  object
 9   overview                      42712 non-null  object
 10  popularity                    45441 non-null  float64
 11  poster_path                   42182 non-null  object
 12  production_countries          45441 non-null  object
 13  release_date                  44826 non-null  object
 14  revenue                       45441 non-null  int64
 15  runtime                       45441 non-null  int64
 16  spoken_languages              45441 non-null  object
 17  status                        45441 non-null  object
 18  tagline                       12783 non-null  object
 19  title                         45441 non-null  object
 20  video                         45441 non-null  bool
 21  vote_average                  45441 non-null  float64
 22  vote_count                    45441 non-null  int64
 23  production_companies_name     45441 non-null  object
 24  production_companies_country  21144 non-null  object
dtypes: bool(2), float64(2), int64(5), object(16)
memory usage: 8.4+ MB

Liaisons à faire :
TMDB - Title_crew - title_principals - name_basics

In [12]:
table_films_select = pd.merge(tmdb_filtre, 
                              title_crew,
                              how="inner", 
                              left_on = "imdb_id",
                              right_on = "tconst"
                              )

In [13]:
table_films_select.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45272 entries, 0 to 45271
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   adult                         45272 non-null  bool
 1   backdrop_path                 28891 non-null  object
 2   budget                        45272 non-null  int64
 3   genres                        45272 non-null  object
 4   homepage                      5773 non-null   object
 5   id                            45272 non-null  int64
 6   imdb_id                       45272 non-null  object
 7   original_language             45272 non-null  object
 8   original_title                45272 non-null  object
 9   overview                      42562 non-null  object
 10  popularity                    45272 non-null  float64
 11  poster_path                   42070 non-null  object
 12  production_countries          45272 non-null  object
 13  release_date                  44683 non-null  object
 14  revenue                       45272 non-null  int64
 15  runtime                       45272 non-null  int64
 16  spoken_languages              45272 non-null  object
 17  status                        45272 non-null  object
 18  tagline                       12767 non-null  object
 19  title                         45272 non-null  object
 20  video                         45272 non-null  bool
 21  vote_average                  45272 non-null  float64
 22  vote_count                    45272 non-null  int64
 23  production_companies_name     45272 non-null  object
 24  production_companies_country  21063 non-null  object
 25  tconst                        45272 non-null  object
 26  directors                     45272 non-null  object
 27  writers                       45272 non-null  object
dtypes: bool(2), float64(2), int64(5), object(19)
memory usage: 9.1+ MB

In [14]:
table_films_select = table_films_select.drop(['backdrop_path','homepage','video','production_companies_name','production_companies_country'],axis=1)

In [15]:
table_films_select = pd.merge(table_films_select, 
                              title_principals,
                              how="left", 
                              left_on = "tconst",
                              right_on = "tconst"
                              )

In [ ]:
table_films_select.head()

In [17]:
table_films_select = table_films_select.drop(['ordering','job'],axis=1)

In [18]:
table_films_select = pd.merge(table_films_select, 
                              name_basics,
                              how="left", 
                              left_on = "nconst",
                              right_on = "nconst"
                              )

In [19]:
table_films_select.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,directors,writers,nconst,category,characters,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,False,0,"['Drama', 'Romance']",8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.77,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,...,"nm0410982,nm0649096,nm0744022,nm0000076,nm0906667","nm0410982,nm0649096,nm0744022,nm0760434,nm0824...",nm0529543,actor,"[""Antoine Doinel (segment \""Antoine et Colette...",Jean-Pierre Léaud,1944,\N,"actor,assistant_director,director","tt0053198,tt0099818,tt0060675,tt0065651"
1,False,0,"['Drama', 'Romance']",8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.77,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,...,"nm0410982,nm0649096,nm0744022,nm0000076,nm0906667","nm0410982,nm0649096,nm0744022,nm0760434,nm0824...",nm0685494,actress,"[""Colette (segment \""Antoine et Colette\"")""]",Marie-France Pisier,1944,2011,"actress,writer,director","tt0072826,tt0078771,tt0082156,tt0074184"
2,False,0,"['Drama', 'Romance']",8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.77,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,...,"nm0410982,nm0649096,nm0744022,nm0000076,nm0906667","nm0410982,nm0649096,nm0744022,nm0760434,nm0824...",nm0041756,actor,"[""René (segment \""Antoine et Colette\"")""]",Patrick Auffay,\N,\N,actor,"tt0053198,tt1180329,tt0055747,tt7371654"
3,False,0,"['Drama', 'Romance']",8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.77,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,...,"nm0410982,nm0649096,nm0744022,nm0000076,nm0906667","nm0410982,nm0649096,nm0744022,nm0760434,nm0824...",nm0890248,actress,"[""La mère de Colette (segment \""Antoine et Col...",Rosy Varte,1923,2012,"actress,miscellaneous,archive_footage","tt0167643,tt1180329,tt0055747,tt0122617"
4,False,0,"['Drama', 'Romance']",8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,3.77,/aup2QCYCsyEeQfpboXy0f4uj8aE.jpg,...,"nm0410982,nm0649096,nm0744022,nm0000076,nm0906667","nm0410982,nm0649096,nm0744022,nm0760434,nm0824...",nm0200950,actor,"[""Le beau-père de Colette (segment \""Antoine e...",François Darbon,1915,1998,"actor,miscellaneous,archive_footage","tt1369743,tt0275822,tt0268795,tt1063369"

In [20]:
table_films_select = table_films_select.drop(['birthYear','deathYear','primaryProfession'],axis=1)

In [21]:
table_films_select.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770236 entries, 0 to 770235
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 770236 non-null  bool
 1   budget                770236 non-null  int64
 2   genres                770236 non-null  object
 3   id                    770236 non-null  int64
 4   imdb_id               770236 non-null  object
 5   original_language     770236 non-null  object
 6   original_title        770236 non-null  object
 7   overview              732422 non-null  object
 8   popularity            770236 non-null  float64
 9   poster_path           729654 non-null  object
 10  production_countries  770236 non-null  object
 11  release_date          762336 non-null  object
 12  revenue               770236 non-null  int64
 13  runtime               770236 non-null  int64
 14  spoken_languages      770236 non-null  object
 15  status                770236 non-null  object
 16  tagline               244061 non-null  object
 17  title                 770236 non-null  object
 18  vote_average          770236 non-null  float64
 19  vote_count            770236 non-null  int64
 20  tconst                770236 non-null  object
 21  directors             770236 non-null  object
 22  writers               770236 non-null  object
 23  nconst                770138 non-null  object
 24  category              770138 non-null  object
 25  characters            770138 non-null  object
 26  primaryName           770138 non-null  object
 27  knownForTitles        770138 non-null  object
dtypes: bool(1), float64(2), int64(5), object(20)
memory usage: 159.4+ MB

In [22]:
table_films_select.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'tconst', 'directors', 'writers', 'nconst', 'category',
       'characters', 'primaryName', 'knownForTitles'],
      dtype='object')

In [23]:
table_films_select.to_csv('./donnees/table_films_select.csv', sep="\t")

In [27]:
table_films_select.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770236 entries, 0 to 770235
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 770236 non-null  bool
 1   budget                770236 non-null  int64
 2   genres                770236 non-null  object
 3   id                    770236 non-null  int64
 4   imdb_id               770236 non-null  object
 5   original_language     770236 non-null  object
 6   original_title        770236 non-null  object
 7   overview              732422 non-null  object
 8   popularity            770236 non-null  float64
 9   poster_path           729654 non-null  object
 10  production_countries  770236 non-null  object
 11  release_date          762336 non-null  object
 12  revenue               770236 non-null  int64
 13  runtime               770236 non-null  int64
 14  spoken_languages      770236 non-null  object
 15  status                770236 non-null  object
 16  tagline               244061 non-null  object
 17  title                 770236 non-null  object
 18  vote_average          770236 non-null  float64
 19  vote_count            770236 non-null  int64
 20  tconst                770236 non-null  object
 21  directors             770236 non-null  object
 22  writers               770236 non-null  object
 23  nconst                770138 non-null  object
 24  category              770138 non-null  object
 25  characters            770138 non-null  object
 26  primaryName           770138 non-null  object
 27  knownForTitles        770138 non-null  object
dtypes: bool(1), float64(2), int64(5), object(20)
memory usage: 159.4+ MB

On part du csv créer table_films_select.csv

In [24]:
films_tmdb_imdb = pd.read_csv("./donnees/table_films_select.csv", sep="\t", low_memory=False)

In [25]:
films_tmdb_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770236 entries, 0 to 770235
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Unnamed: 0            770236 non-null  int64
 1   adult                 770236 non-null  bool
 2   budget                770236 non-null  int64
 3   genres                770236 non-null  object
 4   id                    770236 non-null  int64
 5   imdb_id               770236 non-null  object
 6   original_language     770236 non-null  object
 7   original_title        770236 non-null  object
 8   overview              732422 non-null  object
 9   popularity            770236 non-null  float64
 10  poster_path           729654 non-null  object
 11  production_countries  770236 non-null  object
 12  release_date          762336 non-null  object
 13  revenue               770236 non-null  int64
 14  runtime               770236 non-null  int64
 15  spoken_languages      770236 non-null  object
 16  status                770236 non-null  object
 17  tagline               244061 non-null  object
 18  title                 770236 non-null  object
 19  vote_average          770236 non-null  float64
 20  vote_count            770236 non-null  int64
 21  tconst                770236 non-null  object
 22  directors             770236 non-null  object
 23  writers               770236 non-null  object
 24  nconst                770138 non-null  object
 25  category              770138 non-null  object
 26  characters            770138 non-null  object
 27  primaryName           770138 non-null  object
 28  knownForTitles        770138 non-null  object
dtypes: bool(1), float64(2), int64(6), object(20)
memory usage: 165.3+ MB

In [29]:
films_tmdb_imdb = films_tmdb_imdb.drop('Unnamed: 0',axis=1)

In [30]:
films_tmdb_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770236 entries, 0 to 770235
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 770236 non-null  bool
 1   budget                770236 non-null  int64
 2   genres                770236 non-null  object
 3   id                    770236 non-null  int64
 4   imdb_id               770236 non-null  object
 5   original_language     770236 non-null  object
 6   original_title        770236 non-null  object
 7   overview              732422 non-null  object
 8   popularity            770236 non-null  float64
 9   poster_path           729654 non-null  object
 10  production_countries  770236 non-null  object
 11  release_date          762336 non-null  object
 12  revenue               770236 non-null  int64
 13  runtime               770236 non-null  int64
 14  spoken_languages      770236 non-null  object
 15  status                770236 non-null  object
 16  tagline               244061 non-null  object
 17  title                 770236 non-null  object
 18  vote_average          770236 non-null  float64
 19  vote_count            770236 non-null  int64
 20  tconst                770236 non-null  object
 21  directors             770236 non-null  object
 22  writers               770236 non-null  object
 23  nconst                770138 non-null  object
 24  category              770138 non-null  object
 25  characters            770138 non-null  object
 26  primaryName           770138 non-null  object
 27  knownForTitles        770138 non-null  object
dtypes: bool(1), float64(2), int64(5), object(20)
memory usage: 159.4+ MB

In [31]:
films_tmdb_imdb.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,7.702360e+05,7.702360e+05,770236.000000,7.702360e+05,770236.000000,770236.000000,770236.000000
mean,3.774859e+06,3.010780e+05,6.191450,9.421314e+06,90.381723,4.998949,223.894323
std,1.986768e+07,2.875090e+05,47.845206,7.210167e+07,63.002854,2.423442,1243.803580
min,0.000000e+00,6.000000e+00,0.600000,0.000000e+00,0.000000,0.000000,0.000000
25%,0.000000e+00,6.454300e+04,0.960000,0.000000e+00,83.000000,4.280000,2.000000
50%,0.000000e+00,2.071270e+05,1.833000,0.000000e+00,93.000000,5.700000,8.000000
75%,0.000000e+00,4.654060e+05,4.810000,0.000000e+00,106.000000,6.574000,38.000000
max,5.793304e+08,1.122427e+06,4665.438000,2.923706e+09,12480.000000,10.000000,33630.000000

In [32]:
films_tmdb_imdb['release_date']=pd.to_datetime(films_tmdb_imdb['release_date'])

In [34]:
films_tmdb_imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770236 entries, 0 to 770235
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 770236 non-null  bool
 1   budget                770236 non-null  int64
 2   genres                770236 non-null  object
 3   id                    770236 non-null  int64
 4   imdb_id               770236 non-null  object
 5   original_language     770236 non-null  object
 6   original_title        770236 non-null  object
 7   overview              732422 non-null  object
 8   popularity            770236 non-null  float64
 9   poster_path           729654 non-null  object
 10  production_countries  770236 non-null  object
 11  release_date          762336 non-null  datetime64[ns]
 12  revenue               770236 non-null  int64
 13  runtime               770236 non-null  int64
 14  spoken_languages      770236 non-null  object
 15  status                770236 non-null  object
 16  tagline               244061 non-null  object
 17  title                 770236 non-null  object
 18  vote_average          770236 non-null  float64
 19  vote_count            770236 non-null  int64
 20  tconst                770236 non-null  object
 21  directors             770236 non-null  object
 22  writers               770236 non-null  object
 23  nconst                770138 non-null  object
 24  category              770138 non-null  object
 25  characters            770138 non-null  object
 26  primaryName           770138 non-null  object
 27  knownForTitles        770138 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(19)
memory usage: 159.4+ MB

On drop tagline car rarement l'info

In [37]:
films_tmdb_imdb = films_tmdb_imdb.drop('tagline', axis=1)

On ne garde que ce qui ont un résumé

In [41]:
films_tmdb_imdb.dropna(subset = ['overview'], inplace=True)

In [42]:
films_tmdb_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 732422 entries, 0 to 770235
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 732422 non-null  bool
 1   budget                732422 non-null  int64
 2   genres                732422 non-null  object
 3   id                    732422 non-null  int64
 4   imdb_id               732422 non-null  object
 5   original_language     732422 non-null  object
 6   original_title        732422 non-null  object
 7   overview              732422 non-null  object
 8   popularity            732422 non-null  float64
 9   poster_path           697788 non-null  object
 10  production_countries  732422 non-null  object
 11  release_date          725935 non-null  datetime64[ns]
 12  revenue               732422 non-null  int64
 13  runtime               732422 non-null  int64
 14  spoken_languages      732422 non-null  object
 15  status                732422 non-null  object
 16  title                 732422 non-null  object
 17  vote_average          732422 non-null  float64
 18  vote_count            732422 non-null  int64
 19  tconst                732422 non-null  object
 20  directors             732422 non-null  object
 21  writers               732422 non-null  object
 22  nconst                732333 non-null  object
 23  category              732333 non-null  object
 24  characters            732333 non-null  object
 25  primaryName           732333 non-null  object
 26  knownForTitles        732333 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(18)
memory usage: 151.6+ MB

On ne garde que ce qui a un poster

In [43]:
films_tmdb_imdb.dropna(subset = ['poster_path'], inplace=True)

In [44]:
films_tmdb_imdb.isna().sum()

adult                      0
budget                     0
genres                     0
id                         0
imdb_id                    0
original_language          0
original_title             0
overview                   0
popularity                 0
poster_path                0
production_countries       0
release_date            3016
revenue                    0
runtime                    0
spoken_languages           0
status                     0
title                      0
vote_average               0
vote_count                 0
tconst                     0
directors                  0
writers                    0
nconst                    75
category                  75
characters                75
primaryName               75
knownForTitles            75
dtype: int64

In [45]:
films_tmdb_imdb.dropna(subset = ['release_date'], inplace=True)

In [46]:
films_tmdb_imdb.isna().sum()

adult                    0
budget                   0
genres                   0
id                       0
imdb_id                  0
original_language        0
original_title           0
overview                 0
popularity               0
poster_path              0
production_countries     0
release_date             0
revenue                  0
runtime                  0
spoken_languages         0
status                   0
title                    0
vote_average             0
vote_count               0
tconst                   0
directors                0
writers                  0
nconst                  73
category                73
characters              73
primaryName             73
knownForTitles          73
dtype: int64

On garde que si info sur personne = nconst, category, ...

In [47]:
films_tmdb_imdb.dropna(subset = ['nconst','category','characters','primaryName','knownForTitles'], inplace=True)

In [48]:
films_tmdb_imdb.isna().sum()

adult                   0
budget                  0
genres                  0
id                      0
imdb_id                 0
original_language       0
original_title          0
overview                0
popularity              0
poster_path             0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
title                   0
vote_average            0
vote_count              0
tconst                  0
directors               0
writers                 0
nconst                  0
category                0
characters              0
primaryName             0
knownForTitles          0
dtype: int64

In [49]:
films_tmdb_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 694699 entries, 0 to 770235
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 694699 non-null  bool
 1   budget                694699 non-null  int64
 2   genres                694699 non-null  object
 3   id                    694699 non-null  int64
 4   imdb_id               694699 non-null  object
 5   original_language     694699 non-null  object
 6   original_title        694699 non-null  object
 7   overview              694699 non-null  object
 8   popularity            694699 non-null  float64
 9   poster_path           694699 non-null  object
 10  production_countries  694699 non-null  object
 11  release_date          694699 non-null  datetime64[ns]
 12  revenue               694699 non-null  int64
 13  runtime               694699 non-null  int64
 14  spoken_languages      694699 non-null  object
 15  status                694699 non-null  object
 16  title                 694699 non-null  object
 17  vote_average          694699 non-null  float64
 18  vote_count            694699 non-null  int64
 19  tconst                694699 non-null  object
 20  directors             694699 non-null  object
 21  writers               694699 non-null  object
 22  nconst                694699 non-null  object
 23  category              694699 non-null  object
 24  characters            694699 non-null  object
 25  primaryName           694699 non-null  object
 26  knownForTitles        694699 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(18)
memory usage: 143.8+ MB

On drop tconst car fait doublon avec imdb_id

In [ ]:
films_tmdb_imdb[['tconst','imdb_id']]

In [51]:
films_tmdb_imdb = films_tmdb_imdb.drop('tconst', axis=1)

In [52]:
films_tmdb_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Index: 694699 entries, 0 to 770235
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 694699 non-null  bool
 1   budget                694699 non-null  int64
 2   genres                694699 non-null  object
 3   id                    694699 non-null  int64
 4   imdb_id               694699 non-null  object
 5   original_language     694699 non-null  object
 6   original_title        694699 non-null  object
 7   overview              694699 non-null  object
 8   popularity            694699 non-null  float64
 9   poster_path           694699 non-null  object
 10  production_countries  694699 non-null  object
 11  release_date          694699 non-null  datetime64[ns]
 12  revenue               694699 non-null  int64
 13  runtime               694699 non-null  int64
 14  spoken_languages      694699 non-null  object
 15  status                694699 non-null  object
 16  title                 694699 non-null  object
 17  vote_average          694699 non-null  float64
 18  vote_count            694699 non-null  int64
 19  directors             694699 non-null  object
 20  writers               694699 non-null  object
 21  nconst                694699 non-null  object
 22  category              694699 non-null  object
 23  characters            694699 non-null  object
 24  primaryName           694699 non-null  object
 25  knownForTitles        694699 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(17)
memory usage: 138.5+ MB

On renomme id  en id_tmdb pour clarifier

In [55]:
films_tmdb_imdb = films_tmdb_imdb.rename(columns={'id':'id_tmdb'})

on va filtrer selon le vote average basé sur un nombre de vote plutôt  que popularity on ne sait pas trop comment c'est calculé et ce n'est pas cohérent avec vote_average

In [73]:
films_tmdb_imdb[['vote_average','popularity']].value_counts(sort=True)

vote_average  popularity
0.000         0.600         25684
              1.400          3689
5.000         0.600          3440
0.000         0.840          3334
6.000         0.600          3332
                            ...
6.800         1.294             1
4.100         1.031             1
6.672         3.988             1
4.900         0.854             1
5.900         1.820             1
Name: count, Length: 29444, dtype: int64

Max de vote_average= 10 = les films sont notés sur 10

In [78]:
films_tmdb_imdb['vote_average'].max()

10.0

on prend les films avec votete_average supérieur à 5

In [80]:
films_tmdb_imdb_sup5 = films_tmdb_imdb[films_tmdb_imdb['vote_average']>5]

In [81]:
films_tmdb_imdb_sup5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 462885 entries, 0 to 770134
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 462885 non-null  bool
 1   budget                462885 non-null  int64
 2   genres                462885 non-null  object
 3   id_tmdb               462885 non-null  int64
 4   imdb_id               462885 non-null  object
 5   original_language     462885 non-null  object
 6   original_title        462885 non-null  object
 7   overview              462885 non-null  object
 8   popularity            462885 non-null  float64
 9   poster_path           462885 non-null  object
 10  production_countries  462885 non-null  object
 11  release_date          462885 non-null  datetime64[ns]
 12  revenue               462885 non-null  int64
 13  runtime               462885 non-null  int64
 14  spoken_languages      462885 non-null  object
 15  status                462885 non-null  object
 16  title                 462885 non-null  object
 17  vote_average          462885 non-null  float64
 18  vote_count            462885 non-null  int64
 19  directors             462885 non-null  object
 20  writers               462885 non-null  object
 21  nconst                462885 non-null  object
 22  category              462885 non-null  object
 23  characters            462885 non-null  object
 24  primaryName           462885 non-null  object
 25  knownForTitles        462885 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int64(5), object(17)
memory usage: 92.3+ MB

filtre selon date de sortie

In [89]:
from datetime import datetime

on ajoute une colonne année

In [90]:
films_tmdb_imdb_sup5['year'] = films_tmdb_imdb_sup5['release_date'].dt.year

C:\Users\LOTUS\AppData\Local\Temp\ipykernel_29564\2621779178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_tmdb_imdb_sup5['year'] = films_tmdb_imdb_sup5['release_date'].dt.year

In [91]:
films_tmdb_imdb_sup5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 462885 entries, 0 to 770134
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 462885 non-null  bool
 1   budget                462885 non-null  int64
 2   genres                462885 non-null  object
 3   id_tmdb               462885 non-null  int64
 4   imdb_id               462885 non-null  object
 5   original_language     462885 non-null  object
 6   original_title        462885 non-null  object
 7   overview              462885 non-null  object
 8   popularity            462885 non-null  float64
 9   poster_path           462885 non-null  object
 10  production_countries  462885 non-null  object
 11  release_date          462885 non-null  datetime64[ns]
 12  revenue               462885 non-null  int64
 13  runtime               462885 non-null  int64
 14  spoken_languages      462885 non-null  object
 15  status                462885 non-null  object
 16  title                 462885 non-null  object
 17  vote_average          462885 non-null  float64
 18  vote_count            462885 non-null  int64
 19  directors             462885 non-null  object
 20  writers               462885 non-null  object
 21  nconst                462885 non-null  object
 22  category              462885 non-null  object
 23  characters            462885 non-null  object
 24  primaryName           462885 non-null  object
 25  knownForTitles        462885 non-null  object
 26  year                  462885 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(17)
memory usage: 94.0+ MB

In [92]:
films_tmdb_imdb_sup5['year'].value_counts(sort=True)

year
2019    17487
2017    17399
2022    16683
2018    16511
2016    15588
        ...
1898       20
1894        8
1892        7
1874        4
1878        1
Name: count, Length: 133, dtype: int64

On va garder les années après 2000 inclus

In [94]:
films_tmdb_imdb_sup5_2000 = films_tmdb_imdb_sup5[films_tmdb_imdb_sup5['year']> 1999]

In [95]:
films_tmdb_imdb_sup5_2000.info()

<class 'pandas.core.frame.DataFrame'>
Index: 272237 entries, 70 to 770046
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 272237 non-null  bool
 1   budget                272237 non-null  int64
 2   genres                272237 non-null  object
 3   id_tmdb               272237 non-null  int64
 4   imdb_id               272237 non-null  object
 5   original_language     272237 non-null  object
 6   original_title        272237 non-null  object
 7   overview              272237 non-null  object
 8   popularity            272237 non-null  float64
 9   poster_path           272237 non-null  object
 10  production_countries  272237 non-null  object
 11  release_date          272237 non-null  datetime64[ns]
 12  revenue               272237 non-null  int64
 13  runtime               272237 non-null  int64
 14  spoken_languages      272237 non-null  object
 15  status                272237 non-null  object
 16  title                 272237 non-null  object
 17  vote_average          272237 non-null  float64
 18  vote_count            272237 non-null  int64
 19  directors             272237 non-null  object
 20  writers               272237 non-null  object
 21  nconst                272237 non-null  object
 22  category              272237 non-null  object
 23  characters            272237 non-null  object
 24  primaryName           272237 non-null  object
 25  knownForTitles        272237 non-null  object
 26  year                  272237 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(17)
memory usage: 55.3+ MB

Nombre de films sélectionnés :

In [97]:
len(films_tmdb_imdb_sup5_2000['id_tmdb'].unique())

14672

durée des films

In [110]:
liste = list(films_tmdb_imdb_sup5_2000['runtime'].unique())
liste.sort()
liste

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 195,
 196,
 197,
 200,
 201,
 202,
 204,
 205,
 206,
 207,
 208,
 210,
 211,
 213,
 214,
 216,
 218,
 219,
 220,
 222,
 225,
 226,
 227,
 228,
 229,
 230,
 233,
 234,
 235,
 237,
 238,
 239,
 240,
 241,
 242,
 247,
 251,
 252,
 255,
 256,
 267,
 270,
 273,
 278,
 280,
 296,
 297,
 300,
 303,
 305,
 312,
 324,
 325,
 330,
 339,
 345,
 350,
 351,
 360,
 420,
 480,
 495,
 525,
 540,
 782,
 999]

on prend les films plus longs que 60 minutes

In [112]:
films_tmdb_imdb_sup5_2000_60 = films_tmdb_imdb_sup5_2000[films_tmdb_imdb_sup5_2000['runtime']>=60]

In [114]:
films_tmdb_imdb_sup5_2000_60.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246079 entries, 70 to 769918
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 246079 non-null  bool
 1   budget                246079 non-null  int64
 2   genres                246079 non-null  object
 3   id_tmdb               246079 non-null  int64
 4   imdb_id               246079 non-null  object
 5   original_language     246079 non-null  object
 6   original_title        246079 non-null  object
 7   overview              246079 non-null  object
 8   popularity            246079 non-null  float64
 9   poster_path           246079 non-null  object
 10  production_countries  246079 non-null  object
 11  release_date          246079 non-null  datetime64[ns]
 12  revenue               246079 non-null  int64
 13  runtime               246079 non-null  int64
 14  spoken_languages      246079 non-null  object
 15  status                246079 non-null  object
 16  title                 246079 non-null  object
 17  vote_average          246079 non-null  float64
 18  vote_count            246079 non-null  int64
 19  directors             246079 non-null  object
 20  writers               246079 non-null  object
 21  nconst                246079 non-null  object
 22  category              246079 non-null  object
 23  characters            246079 non-null  object
 24  primaryName           246079 non-null  object
 25  knownForTitles        246079 non-null  object
 26  year                  246079 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(17)
memory usage: 50.0+ MB

Nombre de films qui durent plus de 60 minutes inclues sortis à partir de 2000 et qui ont une note supérieure à 5.

In [115]:
len(films_tmdb_imdb_sup5_2000_60['id_tmdb'].unique())

12771

On prend les films qui sont sortis (Released) et on enlève les films In Production => en fait il n'y a pas de films en production

In [123]:
films_tmdb_imdb_sup5_2000_60[films_tmdb_imdb_sup5_2000_60['status'] == 'In Production']

Empty DataFrame
Columns: [adult, budget, genres, id_tmdb, imdb_id, original_language, original_title, overview, popularity, poster_path, production_countries, release_date, revenue, runtime, spoken_languages, status, title, vote_average, vote_count, directors, writers, nconst, category, characters, primaryName, knownForTitles, year]
Index: []

[0 rows x 27 columns]

In [120]:
films_tmdb_imdb_sup5_2000_60_released = films_tmdb_imdb_sup5_2000_60[films_tmdb_imdb_sup5_2000_60['status'] == 'Released']

In [121]:
films_tmdb_imdb_sup5_2000_60_released.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246079 entries, 70 to 769918
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 246079 non-null  bool
 1   budget                246079 non-null  int64
 2   genres                246079 non-null  object
 3   id_tmdb               246079 non-null  int64
 4   imdb_id               246079 non-null  object
 5   original_language     246079 non-null  object
 6   original_title        246079 non-null  object
 7   overview              246079 non-null  object
 8   popularity            246079 non-null  float64
 9   poster_path           246079 non-null  object
 10  production_countries  246079 non-null  object
 11  release_date          246079 non-null  datetime64[ns]
 12  revenue               246079 non-null  int64
 13  runtime               246079 non-null  int64
 14  spoken_languages      246079 non-null  object
 15  status                246079 non-null  object
 16  title                 246079 non-null  object
 17  vote_average          246079 non-null  float64
 18  vote_count            246079 non-null  int64
 19  directors             246079 non-null  object
 20  writers               246079 non-null  object
 21  nconst                246079 non-null  object
 22  category              246079 non-null  object
 23  characters            246079 non-null  object
 24  primaryName           246079 non-null  object
 25  knownForTitles        246079 non-null  object
 26  year                  246079 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(17)
memory usage: 50.0+ MB

In [155]:
len(films_tmdb_imdb_sup5_2000_60_released['original_title'].unique())

12644

In [154]:
len(films_tmdb_imdb_sup5_2000_60_released['imdb_id'].unique())

12771

Je regarde si les original_title apparaissent plusieurs fois = OUI => on peut filtrer pour avoir un seul par région dans title_akas ?

In [124]:
films_tmdb_imdb_sup5_2000_60_released['original_title'].value_counts()

original_title
Home                                             61
Deux                                             61
Vendetta                                         59
Anna                                             56
Charlie's Angels                                 53
                                                 ..
Antifa: Chasseurs de skins                        1
La Vallée close                                   1
Musk vs Bezos, la nouvelle guerre des étoiles     1
Des traîtres dans la Résistance                   1
Ta'ang                                            1
Name: count, Length: 12644, dtype: int64

In [204]:
test_ot = films_tmdb_imdb_sup5_2000_60_released.groupby(by='original_title').count()
test

original_title
Home                                             61
Deux                                             61
Vendetta                                         59
Anna                                             56
Charlie's Angels                                 53
                                                 ..
Antifa: Chasseurs de skins                        1
La Vallée close                                   1
Musk vs Bezos, la nouvelle guerre des étoiles     1
Des traîtres dans la Résistance                   1
Ta'ang                                            1
Name: count, Length: 12644, dtype: int64

In [ ]:
# liste_colonnes_films = ['adult',
#                         'budget',
#                         'genres',
#                         'id_tmdb',
#                         'imdb_id',
#                         'original_language',
#                         'original_title',
#                                                 'overview',
#                                                 'popularity',
#                                                 'poster_path',
#                                                 'production_countries',
#                                                 'release_date' ,
#                                                 'revenue',
#                                                 'runtime',
#                                                 'spoken_languages',
#                                                 'status' ,
#                                                 'title' ,                                               
#                                                 'vote_average',
#                                                 'vote_count ',
#                                                 'directors',
#                                                 'writers']
test_films = films_tmdb_imdb_sup5_2000_60_released[['adult','budget','genres','id_tmdb','imdb_id','original_language','original_title','original_title','overview','popularity','poster_path','production_countries','release_date' ,'revenue','runtime','spoken_languages','status','title' ,'vote_average','vote_count','directors','writers'                        
                        
                        ]]
test_films

In [205]:
test_films.groupby('title').count()

,adult,budget,genres,id_tmdb,imdb_id,original_language,original_title,original_title,overview,popularity,...,production_countries,release_date,revenue,runtime,spoken_languages,status,vote_average,vote_count,directors,writers
title,,,,,,,,,,,,,,,,,,,,,
#Alive,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
#Iamhere,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
#Moscow on the Beach,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
'71,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
'R Xmas,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Éoliennes: du rêve aux réalités,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
Ô Jerusalem,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
Γκίνες,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
‎The Slacker‎,19,19,19,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,19
‎What's With This Granny?!‎,21,21,21,21,21,21,21,21,21,21,...,21,21,21,21,21,21,21,21,21,21

In [213]:
len(test_films['id_tmdb'].unique())

12771

In [214]:
len(test_films['title'].unique())

12458

On regarde dans title_akas la région de la version du titre et on prend quand France   
On met na=False pour ignorer les valeurs NaN sinon on a une erreur

In [135]:
title_akas_FR = title_akas[title_akas['region'].str.contains('FR', na=False)]

In [136]:
title_akas_FR.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4933915 entries, 12 to 50354942
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  int64
dtypes: int64(2), object(6)
memory usage: 338.8+ MB

In [138]:
title_akas_FR_reduit = title_akas_FR[['titleId','title','region','language']]
title_akas_FR_reduit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4933915 entries, 12 to 50354942
Data columns (total 4 columns):
 #   Column    Dtype
---  ------    -----
 0   titleId   object
 1   title     object
 2   region    object
 3   language  object
dtypes: object(4)
memory usage: 188.2+ MB

In [139]:
films_tmdb_imdb_sup5_2000_60_released_regFR = pd.merge(films_tmdb_imdb_sup5_2000_60_released,
                                                       title_akas_FR_reduit,
                                                       how='inner',
                                                       left_on='imdb_id',
                                                       right_on='titleId')

In [140]:
films_tmdb_imdb_sup5_2000_60_released_regFR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195241 entries, 0 to 195240
Data columns (total 31 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 195241 non-null  bool
 1   budget                195241 non-null  int64
 2   genres                195241 non-null  object
 3   id_tmdb               195241 non-null  int64
 4   imdb_id               195241 non-null  object
 5   original_language     195241 non-null  object
 6   original_title        195241 non-null  object
 7   overview              195241 non-null  object
 8   popularity            195241 non-null  float64
 9   poster_path           195241 non-null  object
 10  production_countries  195241 non-null  object
 11  release_date          195241 non-null  datetime64[ns]
 12  revenue               195241 non-null  int64
 13  runtime               195241 non-null  int64
 14  spoken_languages      195241 non-null  object
 15  status                195241 non-null  object
 16  title_x               195241 non-null  object
 17  vote_average          195241 non-null  float64
 18  vote_count            195241 non-null  int64
 19  directors             195241 non-null  object
 20  writers               195241 non-null  object
 21  nconst                195241 non-null  object
 22  category              195241 non-null  object
 23  characters            195241 non-null  object
 24  primaryName           195241 non-null  object
 25  knownForTitles        195241 non-null  object
 26  year                  195241 non-null  int32
 27  titleId               195241 non-null  object
 28  title_y               195241 non-null  object
 29  region                195241 non-null  object
 30  language              195241 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(2), int32(1), int64(5), object(21)
memory usage: 44.1+ MB

In [146]:
films_tmdb_imdb_sup5_2000_60_released_regFR['original_title'].value_counts()

original_title
Le Pharaon, le Sauvage et la Princesse         320
Mercredi, folle journée !                      156
Ce qui nous lie                                132
Et + si @ff                                    115
Le Grand Méchant Renard et autres contes...    110
                                              ...
Antifa: Chasseurs de skins                       1
பேரரசு                                           1
Tiananmen                                        1
Ta'ang                                           1
La Vallée close                                  1
Name: count, Length: 8443, dtype: int64