Liste des statistiques à faire :  
*films : 
 *Type de films
 *durée
 *budget
*acteurs : 
 *nb de films
 *types de films

In [1]:
import pandas as pd

In [6]:
films = pd.read_csv('./donnees/export_films.csv', sep="\t", low_memory=False)

In [7]:
films_personnes = pd.read_csv('./donnees/export_films_personnes.csv', sep="\t", low_memory=False)

on enlève les colonnes créer lors de l'export

In [8]:
films_personnes = films_personnes.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis = 1)

In [9]:
films = films.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis = 1)

In [10]:
films_personnes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217136 entries, 0 to 217135
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 217136 non-null  bool
 1   budget                217136 non-null  int64
 2   genres                217136 non-null  object
 3   id_tmdb               217136 non-null  int64
 4   imdb_id               217136 non-null  object
 5   original_language     217136 non-null  object
 6   original_title        217136 non-null  object
 7   overview              217136 non-null  object
 8   popularity            217136 non-null  float64
 9   poster_path           217136 non-null  object
 10  production_countries  217136 non-null  object
 11  release_date          217136 non-null  object
 12  revenue               217136 non-null  int64
 13  runtime               217136 non-null  int64
 14  spoken_languages      217136 non-null  object
 15  status                217136 non-null  object
 16  title                 217136 non-null  object
 17  vote_average          217136 non-null  float64
 18  vote_count            217136 non-null  int64
 19  directors             217136 non-null  object
 20  writers               217136 non-null  object
 21  nconst                217136 non-null  object
 22  category              217136 non-null  object
 23  characters            217136 non-null  object
 24  primaryName           217136 non-null  object
 25  knownForTitles        217136 non-null  object
 26  year                  217136 non-null  int64
dtypes: bool(1), float64(2), int64(6), object(18)
memory usage: 43.3+ MB

In [11]:
films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10994 entries, 0 to 10993
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 10994 non-null  bool
 1   budget                10994 non-null  int64
 2   genres_x              10994 non-null  object
 3   id_tmdb               10994 non-null  int64
 4   imdb_id               10994 non-null  object
 5   original_language     10994 non-null  object
 6   original_title        10994 non-null  object
 7   overview              10994 non-null  object
 8   popularity            10994 non-null  float64
 9   poster_path           10994 non-null  object
 10  production_countries  10994 non-null  object
 11  release_date          10994 non-null  object
 12  revenue               10994 non-null  int64
 13  runtime               10994 non-null  int64
 14  spoken_languages      10994 non-null  object
 15  status                10994 non-null  object
 16  title                 10994 non-null  object
 17  vote_average          10994 non-null  float64
 18  vote_count            10994 non-null  int64
 19  directors             10994 non-null  object
 20  writers               10994 non-null  object
 21  year                  10994 non-null  int64
dtypes: bool(1), float64(2), int64(6), object(13)
memory usage: 1.8+ MB

In [12]:
films_personnes['category'].value_counts()

category
actor                  70721
actress                34055
producer               22430
writer                 22395
editor                 12820
director               12117
composer               11698
cinematographer        11286
casting_director        8828
production_designer     7467
self                    2812
archive_footage          491
archive_sound             16
Name: count, dtype: int64

Statistiques générales

In [13]:
films_stat = films.drop('id_tmdb', axis =1).describe()
films_stat

,budget,popularity,revenue,runtime,vote_average,vote_count,year
count,1.099400e+04,10994.000000,1.099400e+04,10994.000000,10994.000000,10994.000000,10994.000000
mean,8.747509e+06,12.340245,2.299957e+07,106.610060,6.401218,536.924595,2013.102056
std,3.036816e+07,79.773172,1.151087e+08,23.140287,0.876754,1978.617906,6.373609
min,0.000000e+00,0.600000,0.000000e+00,60.000000,5.003000,0.000000,2000.000000
25%,0.000000e+00,1.812000,0.000000e+00,91.000000,5.800000,9.000000,2008.000000
50%,0.000000e+00,4.226000,0.000000e+00,101.000000,6.300000,33.000000,2014.000000
75%,8.490000e+04,9.458250,0.000000e+00,117.000000,6.900000,169.000000,2018.000000
max,5.793304e+08,4665.438000,2.923706e+09,495.000000,10.000000,33630.000000,2023.000000

# Graphique sur films_stat
pas de graph sur cette table mais on peut afficher le tableau

Describe donne un DataFrame donc on peut sélectionner une colonne

#Statistiques sur le Budget

In [14]:
films_stat['budget']

count    1.099400e+04
mean     8.747509e+06
std      3.036816e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      8.490000e+04
max      5.793304e+08
Name: budget, dtype: float64

evo du budget dans le temps : on calcule la moyenne par an (année de sortie) (on pourra faire min max... après)

On enlève les films à budget 0 pour calculer nos statistiques

In [15]:
films_sans_budget = films[films['budget']==0]
films_sans_budget

,adult,budget,genres_x,id_tmdb,imdb_id,original_language,original_title,overview,popularity,poster_path,...,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,directors,writers,year
16,False,0,"['Comedy', 'Drama', 'Romance']",156,tt0329767,da,Wilbur begår selvmord,The strange comedy film of two close brothers;...,3.975,/bRrHJbr8kMb849IKBZ0RBk2Vmte.jpg,...,0,111,['en'],Released,Wilbur Wants to Kill Himself,6.474,76,nm0771054,"nm0771054,nm0421314",2002
23,False,0,['Drama'],206,tt0287624,en,Paradise Found,Paradise Found is a biography about the painte...,3.331,/i5tYnEeCAPODbEbbwYmNd8Y9seA.jpg,...,0,89,['en'],Released,Paradise Found,6.600,21,nm0028196,"nm0028196,nm0326089",2003
40,False,0,['Drama'],337,tt0329388,fr,Monsieur Ibrahim et les Fleurs du Coran,"Paris, 1960s. Momo, a resolute and independent...",9.028,/lS4hx9X5v6cpoCzzQohZs7zD881.jpg,...,11576431,91,"['fr', 'tr']",Released,Monsieur Ibrahim,7.028,125,nm0243191,"nm0243191,nm0773418",2003
41,False,0,['Crime'],341,tt0489010,en,A Crime,Vincent's life is on hold until he finds his w...,4.452,/ms5tA7A2xc1EOqc2mVvcFrnH6gO.jpg,...,0,103,['en'],Released,A Crime,5.759,29,nm0694946,"nm0070152,nm0694946",2006
42,False,0,['Comedy'],349,tt0428430,fr,Crustacés et coquillages,Crustacés et coquillages is a fresh French com...,2.664,/eQPrrzj76pQxmprQ3LpHhriZqlJ.jpg,...,0,93,['fr'],Released,Cockles and Muscles,6.100,28,"nm0239725,nm0553303","nm0239725,nm0553303",2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10989,False,0,['Drama'],215034,tt3118628,en,Bastardo,Larger-than-life characters populate director ...,1.378,/kB7iD9kXd0gAwdq8L6l4FcEcXQc.jpg,...,0,106,['ar'],Released,Bastard,7.000,1,nm0067946,"nm0067946,nm2144991",2013
10990,False,0,['Drama'],219173,tt1576452,es,Por tu culpa,"Are we what others see, or are we what we allo...",0.743,/hzwxXtf72bgajNHRZrrWPlfhJSX.jpg,...,0,87,['es'],Released,It's Your Fault,6.000,5,nm1318393,"nm1318393,nm1196938",2010
10991,False,0,['Action'],222409,tt1512732,en,Braille,Nick's blindness is symbolic to his regret for...,0.824,/1DxERMJ0vi9IoDnO4QM6HNrzvdW.jpg,...,0,90,[],Released,Braille,6.000,1,nm2065393,"nm2065393,nm1863128",2011
10992,False,0,['Documentary'],228655,tt2007418,fr,Les trois disparitions de Soad Hosni,This haunting and beautifully formed documenta...,0.840,/ttVoObIPbqBflOguONw9Dm6w1qa.jpg,...,0,70,"['ar', 'en', 'fr']",Released,The Three Disappearances of Soad Hosni,6.000,1,nm1645751,nm1645751,2011
10993,False,0,"['Thriller', 'Horror', 'Action', 'Adventure', ...",231003,tt2011045,en,Hombre Y Tierra,"Mauro Bosque was an adventurer, a survivalist,...",0.840,/4XkuT5L61uFDp7f2VAzKhVhzi5F.jpg,...,0,82,['es'],Released,Hombre Y Tierra,5.200,3,nm1870338,"nm1870338,nm2566773",2011

8159 films n'ont pas de budget

In [16]:
films_sans_budget.index

Index([   16,    23,    40,    41,    42,    51,    55,    62,    72,    90,
       ...
       10984, 10985, 10986, 10987, 10988, 10989, 10990, 10991, 10992, 10993],
      dtype='int64', length=8139)

on supprime les lignes des films dont le budget = 0 en utilisant leur index

In [17]:
films_avec_budget = films.drop(films_sans_budget.index, axis = 0)
films_avec_budget

,adult,budget,genres_x,id_tmdb,imdb_id,original_language,original_title,overview,popularity,poster_path,...,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,directors,writers,year
0,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,40031879,141,['en'],Released,Dancer in the Dark,7.881,1555,nm0001885,"nm0001885,nm0797604",2000
1,False,140000000,"['Adventure', 'Fantasy', 'Action']",22,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 18th-century pira...",88.516,/z8onk7LV9Mmw6zKz4hT6pzzvmvl.jpg,...,655011224,143,['en'],Released,Pirates of the Caribbean: The Curse of the Bla...,7.800,18710,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",2003
2,False,30000000,"['Action', 'Crime']",24,tt0266697,en,Kill Bill: Vol. 1,"An assassin is shot by her ruthless employer, ...",31.556,/v7TaX8kXMXs5yFFGR41guUDNcnB.jpg,...,180906076,111,"['en', 'ja', 'fr']",Released,Kill Bill: Vol. 1,7.970,15748,nm0000233,"nm0000233,nm0000235",2003
3,False,200000000,"['Adventure', 'Fantasy', 'Action']",58,tt0383574,en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,71.717,/uXEqmloGyP7UXAiphJUu2v2pcuE.jpg,...,1065659812,151,"['en', 'tr', 'el', 'zh']",Released,Pirates of the Caribbean: Dead Man's Chest,7.340,14465,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",2006
4,False,2000000,"['Thriller', 'Crime', 'Drama']",67,tt0445620,en,Paradise Now,Two childhood friends are recruited for a suic...,7.400,/qWZkYa8VdcDZk8uzRB2PfhpM9IL.jpg,...,3395627,90,"['ar', 'en']",Released,Paradise Now,6.941,219,nm0009463,"nm0009463,nm1178208,nm0388293",2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10957,False,1288420,"['Action', 'Drama', 'Thriller']",150009,tt2560016,hi,Rajdhani Express,An eclectic group of passengers travelling fro...,0.883,/eqBaH92kA4x4TW4qp5Ik8wTroX9.jpg,...,0,170,"['en', 'hi']",Released,Rajdhani Express,9.000,1,nm5414667,nm5414667,2013
10962,False,850000,"['Comedy', 'Romance']",173779,tt2106590,fr,Ouf,"François has everything he could ever want, un...",1.050,/xkdX47g7H65sWxi2j3SxUK7CXeH.jpg,...,0,81,['fr'],Released,Nuts,5.800,6,nm0179856,"nm0179856,nm0277230",2013
10969,False,12000000,['Comedy'],182219,tt2276778,fr,Les Profs,With only 12 percent of its pupils obtaining t...,0.600,/59Bi4wtdoxXV9eaPat7em2ahISI.jpg,...,0,88,"['cs', 'fr']",Released,Serial Teachers,5.462,1134,nm0553237,"nm0553237,nm2059904,nm6317807,nm6317808",2013
10972,False,6900000,"['Action', 'Crime', 'Drama', 'History']",188640,tt2301155,hi,शूटआऊट ऍट वडाला,The first-ever registered encounter by the Mum...,0.600,/qFcNJCXd2G18ngq4rFq601MbqbZ.jpg,...,11000000,150,['hi'],Released,Shootout at Wadala,5.900,26,nm0348495,"nm1693210,nm3871075,nm0348495,nm1386575,nm1583...",2013
10979,False,30000000,"['War', 'Action', 'Drama']",203793,tt1966566,ru,Сталинград,A band of determined Russian soldiers fight to...,0.600,/pk2d5ahR9g4R3YDlhNA5m1vHhFv.jpg,...,68129518,131,"['de', 'ru']",Released,Stalingrad,6.531,295,nm0094080,"nm0343728,nm0811100,nm2658369",2013

In [18]:
budget_moyen_an = films_avec_budget['budget'].groupby(films_avec_budget['year']).mean()
budget_moyen_an

year
2000    3.362226e+07
2001    3.865007e+07
2002    3.480317e+07
2003    3.805469e+07
2004    3.578136e+07
2005    3.659154e+07
2006    3.282344e+07
2007    2.992344e+07
2008    3.394310e+07
2009    2.843755e+07
2010    2.883490e+07
2011    2.958167e+07
2012    3.315063e+07
2013    3.483147e+07
2014    3.727998e+07
2015    3.313719e+07
2016    3.299649e+07
2017    3.398900e+07
2018    3.697263e+07
2019    3.549750e+07
2020    3.072006e+07
2021    3.801976e+07
2022    3.635148e+07
2023    2.454423e+07
Name: budget, dtype: float64

## Budget moyen par an : 

Courbes d'évolution  sur même graph en couleurs différentes
x = year y = mean
x = year y = min
x = year y = max

On peut appeler chaque année avec l'indexe (ici 2000) et loc (à ne pas avec indice là ça serait iloc ici 0)

In [19]:
budget_moyen_an.loc[2000]

33622262.623188406

On fait pareil pour le min

In [20]:
budget_min_an = films_avec_budget['budget'].groupby(films_avec_budget['year']).min()
budget_min_an

year
2000     46000
2001        50
2002         2
2003         8
2004     74050
2005    500000
2006        24
2007        16
2008         1
2009        10
2010       200
2011         1
2012         5
2013         7
2014         1
2015         9
2016         1
2017       150
2018         1
2019        20
2020         2
2021     10000
2022       300
2023      5000
Name: budget, dtype: int64

on faait pareil pour max

In [21]:
budget_max_an = films_avec_budget['budget'].groupby(films_avec_budget['year']).max()
budget_max_an

year
2000    125000000
2001    140000000
2002    140000000
2003    200000000
2004    200000000
2005    207000000
2006    270000000
2007    300000000
2008    200000000
2009    237000000
2010    200000000
2011    379000000
2012    250000000
2013    250000000
2014    250000000
2015    365000000
2016    250000000
2017    300000000
2018    579330426
2019    356000000
2020    205000000
2021    250000000
2022    460000000
2023    250000000
Name: budget, dtype: int64

##statistique sur original language

In [22]:
original_language_nb_films = films['id_tmdb'].groupby(films['original_language']).count()
original_language_nb_films

original_language
af      3
am      2
ar    122
as      1
az      2
     ...
vi     18
xh      1
xx      5
yi      2
zh    341
Name: id_tmdb, Length: 90, dtype: int64

## graphique langue d'origine
diagramme en barre / histogramme x = langue y = count
comme beaucoup de langue on prend celle qui ont plus de 50 films

##Statistiques sur les revenues

In [23]:
films_sans_revenue = films[films['revenue']==0]
films_sans_revenue

,adult,budget,genres_x,id_tmdb,imdb_id,original_language,original_title,overview,popularity,poster_path,...,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,directors,writers,year
16,False,0,"['Comedy', 'Drama', 'Romance']",156,tt0329767,da,Wilbur begår selvmord,The strange comedy film of two close brothers;...,3.975,/bRrHJbr8kMb849IKBZ0RBk2Vmte.jpg,...,0,111,['en'],Released,Wilbur Wants to Kill Himself,6.474,76,nm0771054,"nm0771054,nm0421314",2002
23,False,0,['Drama'],206,tt0287624,en,Paradise Found,Paradise Found is a biography about the painte...,3.331,/i5tYnEeCAPODbEbbwYmNd8Y9seA.jpg,...,0,89,['en'],Released,Paradise Found,6.600,21,nm0028196,"nm0028196,nm0326089",2003
41,False,0,['Crime'],341,tt0489010,en,A Crime,Vincent's life is on hold until he finds his w...,4.452,/ms5tA7A2xc1EOqc2mVvcFrnH6gO.jpg,...,0,103,['en'],Released,A Crime,5.759,29,nm0694946,"nm0070152,nm0694946",2006
42,False,0,['Comedy'],349,tt0428430,fr,Crustacés et coquillages,Crustacés et coquillages is a fresh French com...,2.664,/eQPrrzj76pQxmprQ3LpHhriZqlJ.jpg,...,0,93,['fr'],Released,Cockles and Muscles,6.100,28,"nm0239725,nm0553303","nm0239725,nm0553303",2005
51,False,0,"['Comedy', 'Drama', 'Romance']",480,tt0265343,hi,Monsoon Wedding,"As the romantic monsoon rains loom, the extend...",10.149,/nchsMqHcTE7kIylMKQjmEZb4E6H.jpg,...,0,114,"['en', 'hi']",Released,Monsoon Wedding,6.816,177,nm0619762,nm0223526,2001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10989,False,0,['Drama'],215034,tt3118628,en,Bastardo,Larger-than-life characters populate director ...,1.378,/kB7iD9kXd0gAwdq8L6l4FcEcXQc.jpg,...,0,106,['ar'],Released,Bastard,7.000,1,nm0067946,"nm0067946,nm2144991",2013
10990,False,0,['Drama'],219173,tt1576452,es,Por tu culpa,"Are we what others see, or are we what we allo...",0.743,/hzwxXtf72bgajNHRZrrWPlfhJSX.jpg,...,0,87,['es'],Released,It's Your Fault,6.000,5,nm1318393,"nm1318393,nm1196938",2010
10991,False,0,['Action'],222409,tt1512732,en,Braille,Nick's blindness is symbolic to his regret for...,0.824,/1DxERMJ0vi9IoDnO4QM6HNrzvdW.jpg,...,0,90,[],Released,Braille,6.000,1,nm2065393,"nm2065393,nm1863128",2011
10992,False,0,['Documentary'],228655,tt2007418,fr,Les trois disparitions de Soad Hosni,This haunting and beautifully formed documenta...,0.840,/ttVoObIPbqBflOguONw9Dm6w1qa.jpg,...,0,70,"['ar', 'en', 'fr']",Released,The Three Disappearances of Soad Hosni,6.000,1,nm1645751,nm1645751,2011
10993,False,0,"['Thriller', 'Horror', 'Action', 'Adventure', ...",231003,tt2011045,en,Hombre Y Tierra,"Mauro Bosque was an adventurer, a survivalist,...",0.840,/4XkuT5L61uFDp7f2VAzKhVhzi5F.jpg,...,0,82,['es'],Released,Hombre Y Tierra,5.200,3,nm1870338,"nm1870338,nm2566773",2011

In [24]:
films_sans_revenue.index

Index([   16,    23,    41,    42,    51,    55,    56,    62,    72,    90,
       ...
       10984, 10985, 10986, 10987, 10988, 10989, 10990, 10991, 10992, 10993],
      dtype='int64', length=8262)

In [25]:
films_avec_revenue = films.drop(films_sans_revenue.index, axis = 0)
films_avec_revenue

,adult,budget,genres_x,id_tmdb,imdb_id,original_language,original_title,overview,popularity,poster_path,...,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,directors,writers,year
0,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,40031879,141,['en'],Released,Dancer in the Dark,7.881,1555,nm0001885,"nm0001885,nm0797604",2000
1,False,140000000,"['Adventure', 'Fantasy', 'Action']",22,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 18th-century pira...",88.516,/z8onk7LV9Mmw6zKz4hT6pzzvmvl.jpg,...,655011224,143,['en'],Released,Pirates of the Caribbean: The Curse of the Bla...,7.800,18710,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",2003
2,False,30000000,"['Action', 'Crime']",24,tt0266697,en,Kill Bill: Vol. 1,"An assassin is shot by her ruthless employer, ...",31.556,/v7TaX8kXMXs5yFFGR41guUDNcnB.jpg,...,180906076,111,"['en', 'ja', 'fr']",Released,Kill Bill: Vol. 1,7.970,15748,nm0000233,"nm0000233,nm0000235",2003
3,False,200000000,"['Adventure', 'Fantasy', 'Action']",58,tt0383574,en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,71.717,/uXEqmloGyP7UXAiphJUu2v2pcuE.jpg,...,1065659812,151,"['en', 'tr', 'el', 'zh']",Released,Pirates of the Caribbean: Dead Man's Chest,7.340,14465,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",2006
4,False,2000000,"['Thriller', 'Crime', 'Drama']",67,tt0445620,en,Paradise Now,Two childhood friends are recruited for a suic...,7.400,/qWZkYa8VdcDZk8uzRB2PfhpM9IL.jpg,...,3395627,90,"['ar', 'en']",Released,Paradise Now,6.941,219,nm0009463,"nm0009463,nm1178208,nm0388293",2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10857,False,60000000,"['Action', 'Thriller']",343611,tt3393786,en,Jack Reacher: Never Go Back,When Major Susan Turner is arrested for treaso...,71.458,/cOg3UT2NYWHZxp41vpxAnVCOC4M.jpg,...,162146076,118,['en'],Released,Jack Reacher: Never Go Back,5.930,4349,nm0001880,"nm0921013,nm0001880,nm0380980,nm1676193",2016
10858,False,104000000,"['Action', 'Adventure', 'Comedy']",343668,tt4649466,en,Kingsman: The Golden Circle,When an attack on the Kingsman headquarters ta...,69.810,/34xBL6BXNYFqtHO9zhcgoakS4aP.jpg,...,410902662,141,"['sv', 'en', 'it']",Released,Kingsman: The Golden Circle,6.977,9275,nm0891216,"nm0963359,nm0891216,nm2092839,nm1733301",2017
10928,False,3512454,['Drama'],110428,tt2018086,fr,"Camille Claudel, 1915","Winter, 1915. Confined by her family to an asy...",0.600,/jHU5CiEk4QoCrvxJV8uOLxi3y5y.jpg,...,115860,95,['fr'],Released,"Camille Claudel, 1915",6.200,63,nm0241622,"nm0165227,nm6163206,nm0241622",2013
10972,False,6900000,"['Action', 'Crime', 'Drama', 'History']",188640,tt2301155,hi,शूटआऊट ऍट वडाला,The first-ever registered encounter by the Mum...,0.600,/qFcNJCXd2G18ngq4rFq601MbqbZ.jpg,...,11000000,150,['hi'],Released,Shootout at Wadala,5.900,26,nm0348495,"nm1693210,nm3871075,nm0348495,nm1386575,nm1583...",2013
10979,False,30000000,"['War', 'Action', 'Drama']",203793,tt1966566,ru,Сталинград,A band of determined Russian soldiers fight to...,0.600,/pk2d5ahR9g4R3YDlhNA5m1vHhFv.jpg,...,68129518,131,"['de', 'ru']",Released,Stalingrad,6.531,295,nm0094080,"nm0343728,nm0811100,nm2658369",2013

In [26]:
revenue_moyen_an = films_avec_revenue['revenue'].groupby(films_avec_revenue['year']).mean()
revenue_moyen_an

year
2000    7.756277e+07
2001    8.316435e+07
2002    7.923036e+07
2003    9.857512e+07
2004    7.952402e+07
2005    7.225733e+07
2006    7.767598e+07
2007    7.881006e+07
2008    9.646251e+07
2009    9.036840e+07
2010    6.666557e+07
2011    8.837484e+07
2012    7.922903e+07
2013    9.022888e+07
2014    1.130750e+08
2015    1.141693e+08
2016    8.714075e+07
2017    1.189214e+08
2018    1.274811e+08
2019    9.925663e+07
2020    4.334437e+07
2021    8.235871e+07
2022    1.375949e+08
2023    1.314529e+08
Name: revenue, dtype: float64

In [27]:
revenue_min_an = films_avec_revenue['revenue'].groupby(films_avec_revenue['year']).min()
revenue_min_an

year
2000        28
2001        60
2002       921
2003        54
2004        21
2005        27
2006         2
2007         6
2008        10
2009        10
2010       200
2011     11229
2012         5
2013        12
2014         1
2015      5000
2016         3
2017         9
2018        24
2019      1000
2020     46855
2021        10
2022      1000
2023    159959
Name: revenue, dtype: int64

In [28]:
revenue_max_an = films_avec_revenue['revenue'].groupby(films_avec_revenue['year']).max()
revenue_max_an

year
2000     546388105
2001     871368364
2002     926287400
2003    1118888979
2004     783766341
2005     850000000
2006    1065659812
2007     961000000
2008    1004558444
2009    2923706026
2010     825532764
2011    1123794079
2012    1518815515
2013    1215577205
2014    1104054072
2015    2068223624
2016    1153337496
2017    1332698830
2018    2046239637
2019    2794731755
2020     503063688
2021    1921847111
2022    2319331580
2023     604380922
Name: revenue, dtype: int64

##Statistiques sur le profit  
profit = revenue - budget

In [29]:
len(films_avec_revenue)

2732

In [30]:
len(films_avec_budget)

2855

on prend les films avec budget et on filtre pour ne garder qe ceux qui ont un revenu

In [31]:
films_avec_revenue_et_budget = films_avec_budget[films_avec_budget['revenue']>0]
films_avec_revenue_et_budget

,adult,budget,genres_x,id_tmdb,imdb_id,original_language,original_title,overview,popularity,poster_path,...,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,directors,writers,year
0,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,40031879,141,['en'],Released,Dancer in the Dark,7.881,1555,nm0001885,"nm0001885,nm0797604",2000
1,False,140000000,"['Adventure', 'Fantasy', 'Action']",22,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 18th-century pira...",88.516,/z8onk7LV9Mmw6zKz4hT6pzzvmvl.jpg,...,655011224,143,['en'],Released,Pirates of the Caribbean: The Curse of the Bla...,7.800,18710,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",2003
2,False,30000000,"['Action', 'Crime']",24,tt0266697,en,Kill Bill: Vol. 1,"An assassin is shot by her ruthless employer, ...",31.556,/v7TaX8kXMXs5yFFGR41guUDNcnB.jpg,...,180906076,111,"['en', 'ja', 'fr']",Released,Kill Bill: Vol. 1,7.970,15748,nm0000233,"nm0000233,nm0000235",2003
3,False,200000000,"['Adventure', 'Fantasy', 'Action']",58,tt0383574,en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,71.717,/uXEqmloGyP7UXAiphJUu2v2pcuE.jpg,...,1065659812,151,"['en', 'tr', 'el', 'zh']",Released,Pirates of the Caribbean: Dead Man's Chest,7.340,14465,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",2006
4,False,2000000,"['Thriller', 'Crime', 'Drama']",67,tt0445620,en,Paradise Now,Two childhood friends are recruited for a suic...,7.400,/qWZkYa8VdcDZk8uzRB2PfhpM9IL.jpg,...,3395627,90,"['ar', 'en']",Released,Paradise Now,6.941,219,nm0009463,"nm0009463,nm1178208,nm0388293",2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10857,False,60000000,"['Action', 'Thriller']",343611,tt3393786,en,Jack Reacher: Never Go Back,When Major Susan Turner is arrested for treaso...,71.458,/cOg3UT2NYWHZxp41vpxAnVCOC4M.jpg,...,162146076,118,['en'],Released,Jack Reacher: Never Go Back,5.930,4349,nm0001880,"nm0921013,nm0001880,nm0380980,nm1676193",2016
10858,False,104000000,"['Action', 'Adventure', 'Comedy']",343668,tt4649466,en,Kingsman: The Golden Circle,When an attack on the Kingsman headquarters ta...,69.810,/34xBL6BXNYFqtHO9zhcgoakS4aP.jpg,...,410902662,141,"['sv', 'en', 'it']",Released,Kingsman: The Golden Circle,6.977,9275,nm0891216,"nm0963359,nm0891216,nm2092839,nm1733301",2017
10928,False,3512454,['Drama'],110428,tt2018086,fr,"Camille Claudel, 1915","Winter, 1915. Confined by her family to an asy...",0.600,/jHU5CiEk4QoCrvxJV8uOLxi3y5y.jpg,...,115860,95,['fr'],Released,"Camille Claudel, 1915",6.200,63,nm0241622,"nm0165227,nm6163206,nm0241622",2013
10972,False,6900000,"['Action', 'Crime', 'Drama', 'History']",188640,tt2301155,hi,शूटआऊट ऍट वडाला,The first-ever registered encounter by the Mum...,0.600,/qFcNJCXd2G18ngq4rFq601MbqbZ.jpg,...,11000000,150,['hi'],Released,Shootout at Wadala,5.900,26,nm0348495,"nm1693210,nm3871075,nm0348495,nm1386575,nm1583...",2013
10979,False,30000000,"['War', 'Action', 'Drama']",203793,tt1966566,ru,Сталинград,A band of determined Russian soldiers fight to...,0.600,/pk2d5ahR9g4R3YDlhNA5m1vHhFv.jpg,...,68129518,131,"['de', 'ru']",Released,Stalingrad,6.531,295,nm0094080,"nm0343728,nm0811100,nm2658369",2013

On crée la colonne profit

In [32]:
films_avec_revenue_et_budget['profit'] = films_avec_revenue_et_budget['revenue'] - films_avec_revenue_et_budget['budget']
films_avec_revenue_et_budget

C:\Users\LOTUS\AppData\Local\Temp\ipykernel_29744\4256382545.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_avec_revenue_et_budget['profit'] = films_avec_revenue_et_budget['revenue'] - films_avec_revenue_et_budget['budget']

,adult,budget,genres_x,id_tmdb,imdb_id,original_language,original_title,overview,popularity,poster_path,...,runtime,spoken_languages,status,title,vote_average,vote_count,directors,writers,year,profit
0,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,141,['en'],Released,Dancer in the Dark,7.881,1555,nm0001885,"nm0001885,nm0797604",2000,27231879
1,False,140000000,"['Adventure', 'Fantasy', 'Action']",22,tt0325980,en,Pirates of the Caribbean: The Curse of the Bla...,"Jack Sparrow, a freewheeling 18th-century pira...",88.516,/z8onk7LV9Mmw6zKz4hT6pzzvmvl.jpg,...,143,['en'],Released,Pirates of the Caribbean: The Curse of the Bla...,7.800,18710,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",2003,515011224
2,False,30000000,"['Action', 'Crime']",24,tt0266697,en,Kill Bill: Vol. 1,"An assassin is shot by her ruthless employer, ...",31.556,/v7TaX8kXMXs5yFFGR41guUDNcnB.jpg,...,111,"['en', 'ja', 'fr']",Released,Kill Bill: Vol. 1,7.970,15748,nm0000233,"nm0000233,nm0000235",2003,150906076
3,False,200000000,"['Adventure', 'Fantasy', 'Action']",58,tt0383574,en,Pirates of the Caribbean: Dead Man's Chest,Captain Jack Sparrow works his way out of a bl...,71.717,/uXEqmloGyP7UXAiphJUu2v2pcuE.jpg,...,151,"['en', 'tr', 'el', 'zh']",Released,Pirates of the Caribbean: Dead Man's Chest,7.340,14465,nm0893659,"nm0254645,nm0744429,nm0064181,nm0938684",2006,865659812
4,False,2000000,"['Thriller', 'Crime', 'Drama']",67,tt0445620,en,Paradise Now,Two childhood friends are recruited for a suic...,7.400,/qWZkYa8VdcDZk8uzRB2PfhpM9IL.jpg,...,90,"['ar', 'en']",Released,Paradise Now,6.941,219,nm0009463,"nm0009463,nm1178208,nm0388293",2005,1395627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10857,False,60000000,"['Action', 'Thriller']",343611,tt3393786,en,Jack Reacher: Never Go Back,When Major Susan Turner is arrested for treaso...,71.458,/cOg3UT2NYWHZxp41vpxAnVCOC4M.jpg,...,118,['en'],Released,Jack Reacher: Never Go Back,5.930,4349,nm0001880,"nm0921013,nm0001880,nm0380980,nm1676193",2016,102146076
10858,False,104000000,"['Action', 'Adventure', 'Comedy']",343668,tt4649466,en,Kingsman: The Golden Circle,When an attack on the Kingsman headquarters ta...,69.810,/34xBL6BXNYFqtHO9zhcgoakS4aP.jpg,...,141,"['sv', 'en', 'it']",Released,Kingsman: The Golden Circle,6.977,9275,nm0891216,"nm0963359,nm0891216,nm2092839,nm1733301",2017,306902662
10928,False,3512454,['Drama'],110428,tt2018086,fr,"Camille Claudel, 1915","Winter, 1915. Confined by her family to an asy...",0.600,/jHU5CiEk4QoCrvxJV8uOLxi3y5y.jpg,...,95,['fr'],Released,"Camille Claudel, 1915",6.200,63,nm0241622,"nm0165227,nm6163206,nm0241622",2013,-3396594
10972,False,6900000,"['Action', 'Crime', 'Drama', 'History']",188640,tt2301155,hi,शूटआऊट ऍट वडाला,The first-ever registered encounter by the Mum...,0.600,/qFcNJCXd2G18ngq4rFq601MbqbZ.jpg,...,150,['hi'],Released,Shootout at Wadala,5.900,26,nm0348495,"nm1693210,nm3871075,nm0348495,nm1386575,nm1583...",2013,4100000
10979,False,30000000,"['War', 'Action', 'Drama']",203793,tt1966566,ru,Сталинград,A band of determined Russian soldiers fight to...,0.600,/pk2d5ahR9g4R3YDlhNA5m1vHhFv.jpg,...,131,"['de', 'ru']",Released,Stalingrad,6.531,295,nm0094080,"nm0343728,nm0811100,nm2658369",2013,38129518

In [33]:
profit_moy_an = films_avec_revenue_et_budget['profit'].groupby(films_avec_revenue_et_budget['year']).mean()
profit_moy_an

year
2000    5.266275e+07
2001    5.079314e+07
2002    6.847077e+07
2003    8.118918e+07
2004    5.594078e+07
2005    4.632403e+07
2006    5.134742e+07
2007    6.261482e+07
2008    8.273941e+07
2009    7.575278e+07
2010    4.820071e+07
2011    6.407330e+07
2012    6.986431e+07
2013    7.459862e+07
2014    1.139739e+08
2015    1.173018e+08
2016    7.244923e+07
2017    1.213897e+08
2018    1.392400e+08
2019    1.107032e+08
2020    3.609576e+07
2021    5.565722e+07
2022    1.557529e+08
2023    1.051777e+08
Name: profit, dtype: float64

In [34]:
profit_min_an = films_avec_revenue_et_budget['profit'].groupby(films_avec_revenue_et_budget['year']).min()
profit_min_an

year
2000    -46536031
2001    -61403089
2002    -48367617
2003    -36064237
2004    -37821105
2005    -69833498
2006    -63093812
2007    -41696962
2008    -31361837
2009    -44668279
2010    -72822007
2011    -34554000
2012    -37812187
2013    -68351500
2014    -31657368
2015    -52247060
2016    -60506085
2017    -63587851
2018    -27864000
2019    -26859030
2020   -133200000
2021   -185600000
2022    -78704637
2023    -43000000
Name: profit, dtype: int64

In [35]:
profit_max_an = films_avec_revenue_et_budget['profit'].groupby(films_avec_revenue_et_budget['year']).max()
profit_max_an

year
2000     421388105
2001     778368364
2002     847287400
2003    1024888979
2004     583766341
2005     737000000
2006     865659812
2007     661000000
2008     819558444
2009    2686706026
2010     665532764
2011     928794079
2012    1298815515
2013    1015577205
2014     894054072
2015    1823223624
2016     903337496
2017    1132698830
2018    1746239637
2019    2438731755
2020     487263688
2021    1721847111
2022    1859331580
2023     530579095
Name: profit, dtype: int64

Les films par langue

In [36]:
films['spoken_languages']

0                          ['en']
1                          ['en']
2              ['en', 'ja', 'fr']
3        ['en', 'tr', 'el', 'zh']
4                    ['ar', 'en']
                   ...
10989                      ['ar']
10990                      ['es']
10991                          []
10992          ['ar', 'en', 'fr']
10993                      ['es']
Name: spoken_languages, Length: 10994, dtype: object

In [37]:
df_langue = pd.DataFrame(columns=['language','nombre'])


for i in films['spoken_languages'].items():
    # print(i)
    # print(i[1])
    # print(type(i[1]))
    string_langue = i[1]
    string_langue = string_langue.replace("['","")
    string_langue = string_langue.replace("']","")
    string_langue = string_langue.replace("'","")
    liste_langue = string_langue.split(", ")
    # print(liste_langue)
    # print(len(liste_langue))
    for langue in liste_langue:
        if langue not in df_langue['language'].values:
            # Ajouter une nouvelle ligne
            new_row = pd.DataFrame({'language': [langue], 'nombre': [1]})
            df_langue = pd.concat([df_langue, new_row], ignore_index=True)
        else:
            # Incrémenter le compteur
            idx = df_langue[df_langue['language'] == langue].index
            df_langue.loc[idx, 'nombre'] += 1
df_langue

    language nombre
0         en   4218
1         ja    894
2         fr   3467
3         tr    113
4         el     73
..       ...    ...
128       lb      2
129       oc      1
130       st      1
131       an      1
132       ab      1

[133 rows x 2 columns]

Nombre de films par directeurs et évolution

In [38]:
films['directors'].nunique()

6875

Il peut y avoir plusieurs directeurs

In [39]:
df_directeur_sans_nom = pd.DataFrame(columns=['director','nombre'])


for i in films['directors'].items():
    # print(i[1])
    # print(i[1])
    # print(type(i[1]))
    # string_directeur = i[1]
    # string_directeur = string_directeur.replace("['","")
    # string_directeur = string_directeur.replace("']","")
    # string_directeur = string_directeur.replace("'","")
    liste_directeur = i[1].split(",")
    # print(liste_directeur)
    # print(len(liste_directeur))
    for directeur in liste_directeur:
        if directeur not in df_directeur_sans_nom['director'].values:
            # Ajouter une nouvelle ligne
            new_row = pd.DataFrame({'director': [directeur], 'nombre': [1]})
            df_directeur_sans_nom = pd.concat([df_directeur_sans_nom, new_row], ignore_index=True)
        else:
            # Incrémenter le compteur
            idx = df_directeur_sans_nom[df_directeur_sans_nom['director'] == directeur].index
            df_directeur_sans_nom.loc[idx, 'nombre'] += 1
df_directeur_sans_nom

       director nombre
0     nm0001885     11
1     nm0893659      5
2     nm0000233      7
3     nm0009463      1
4     nm0197636      1
...         ...    ...
7739  nm0067946      1
7740  nm1318393      1
7741  nm2065393      1
7742  nm1645751      1
7743  nm1870338      1

[7744 rows x 2 columns]

In [40]:
name_basics = pd.read_csv("./donnees/IMDb/name.basics.tsv/name.basics.tsv", sep="\t", low_memory=False)

In [41]:
name_basics.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0050419,tt0072308,tt0053137,tt0027125"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0117057,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"

In [42]:
name_basics['nconst'].nunique()

13941329

In [43]:
df_directeur_avec_nom = pd.merge(df_directeur_sans_nom, 
                                 name_basics,
                                 how = 'left',
                                 left_on = 'director',
                                 right_on = 'nconst'
                            )
df_directeur_avec_nom.head()

,director,nombre,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0001885,11,nm0001885,Lars von Trier,1956,\N,"writer,director,producer","tt0168629,tt4003440,tt1527186,tt0870984"
1,nm0893659,5,nm0893659,Gore Verbinski,1964,\N,"director,producer,writer","tt1192628,tt0325980,tt4731136,tt1210819"
2,nm0000233,7,nm0000233,Quentin Tarantino,1963,\N,"producer,writer,actor","tt0105236,tt0110912,tt0116367,tt7131622"
3,nm0009463,1,nm0009463,Hany Abu-Assad,1961,\N,"director,writer,producer","tt2852406,tt0445620,tt0305229,tt4686692"
4,nm0197636,1,nm0197636,Stephen Daldry,1960,\N,"producer,director,miscellaneous","tt0976051,tt0274558,tt0249462,tt0477302"

In [44]:
df_directeur_avec_nom = df_directeur_avec_nom.drop(['nconst','birthYear','deathYear','primaryProfession','knownForTitles'], axis=1)

In [45]:
df_directeur_avec_nom

       director nombre         primaryName
0     nm0001885     11      Lars von Trier
1     nm0893659      5      Gore Verbinski
2     nm0000233      7   Quentin Tarantino
3     nm0009463      1      Hany Abu-Assad
4     nm0197636      1      Stephen Daldry
...         ...    ...                 ...
7739  nm0067946      1      Néjib Belkadhi
7740  nm1318393      1       Anahí Berneri
7741  nm2065393      1      Matthew Chuang
7742  nm1645751      1       Rania Stephan
7743  nm1870338      1  Christian Cisneros

[7744 rows x 3 columns]

In [46]:
#A NE PAS UTILISER : Ne tient pas qu'on des doublons de films dans cette table notamment dus à la presence des différents acteurs

# df_directeur = pd.DataFrame(columns=['director','nom','nombre'])


# for i in films_personnes.index:
#     code = films_personnes['directors'].loc[i]
#     nom = films_personnes['primaryName'].loc[i]
#     # print(index)
#     # print(i[1])
#     # print(i[1])
#     # print(type(i[1]))
#     liste_directeur = code.split(",")
#     # print(liste_directeur)
#     # print(len(liste_directeur))
#     for directeur in liste_directeur:
#         if directeur not in df_directeur['director'].values:
#             # Ajouter une nouvelle ligne
#             new_row = pd.DataFrame({'director': code,'nom':nom ,'nombre': [1]})
#             df_directeur = pd.concat([df_directeur, new_row], ignore_index=True)
#         else:
#             # Incrémenter le compteur
#             idx = df_directeur[df_directeur['director'] == code].index
#             df_directeur.loc[idx, 'nombre'] += 1
# df_directeur

nombre de films par scenariste

In [47]:
df_ecrivain_sans_nom = pd.DataFrame(columns=['ecrivain','nombre'])


for i in films['writers'].items():
    # print(i[1])
    # print(i[1])
    # print(type(i[1]))
    liste_ecrivain = i[1].split(",")
    # print(liste_ecrivain)
    # print(len(liste_ecrivain))
    for ecrivain in liste_ecrivain:
        if ecrivain not in df_ecrivain_sans_nom['ecrivain'].values:
            # Ajouter une nouvelle ligne
            new_row = pd.DataFrame({'ecrivain': [ecrivain], 'nombre': [1]})
            df_ecrivain_sans_nom = pd.concat([df_ecrivain_sans_nom, new_row], ignore_index=True)
        else:
            # Incrémenter le compteur
            idx = df_ecrivain_sans_nom[df_ecrivain_sans_nom['ecrivain'] == ecrivain].index
            df_ecrivain_sans_nom.loc[idx, 'nombre'] += 1
df_ecrivain_sans_nom

        ecrivain nombre
0      nm0001885     11
1      nm0797604      2
2      nm0254645      8
3      nm0744429     10
4      nm0064181      9
...          ...    ...
14783  nm2065393      1
14784  nm1863128      1
14785  nm1645751      1
14786  nm1870338      1
14787  nm2566773      1

[14788 rows x 2 columns]

In [48]:
df_ecrivain_avec_nom = pd.merge(df_ecrivain_sans_nom, 
                                 name_basics,
                                 how = 'left',
                                 left_on = 'ecrivain',
                                 right_on = 'nconst'
                            )
df_ecrivain_avec_nom.head()

,ecrivain,nombre,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0001885,11,nm0001885,Lars von Trier,1956,\N,"writer,director,producer","tt0168629,tt4003440,tt1527186,tt0870984"
1,nm0797604,2,nm0797604,Sjón,1962,\N,"writer,script_department,actor","tt11138512,tt9812474,tt0168629,tt0461958"
2,nm0254645,8,nm0254645,Ted Elliott,1961,\N,"writer,producer,miscellaneous","tt0126029,tt1210819,tt0325980,tt0103639"
3,nm0744429,10,nm0744429,Terry Rossio,\N,\N,"writer,producer,director","tt0103639,tt0325980,tt0126029,tt0453467"
4,nm0064181,9,nm0064181,Stuart Beattie,\N,\N,"writer,producer,director","tt14174940,tt0369339,tt0325980,tt0441881"

In [49]:
df_ecrivain_avec_nom = df_ecrivain_avec_nom.drop(['nconst','birthYear','deathYear','primaryProfession','knownForTitles'], axis=1)
df_ecrivain_avec_nom

        ecrivain nombre         primaryName
0      nm0001885     11      Lars von Trier
1      nm0797604      2                Sjón
2      nm0254645      8         Ted Elliott
3      nm0744429     10        Terry Rossio
4      nm0064181      9      Stuart Beattie
...          ...    ...                 ...
14783  nm2065393      1      Matthew Chuang
14784  nm1863128      1          Joe Capelo
14785  nm1645751      1       Rania Stephan
14786  nm1870338      1  Christian Cisneros
14787  nm2566773      1   Richard L. Watson

[14788 rows x 3 columns]

Statistiques sur les acteurs : nb de films par acteurs et genre par acteurs

In [50]:
films_personnes['category'].value_counts()

category
actor                  70721
actress                34055
producer               22430
writer                 22395
editor                 12820
director               12117
composer               11698
cinematographer        11286
casting_director        8828
production_designer     7467
self                    2812
archive_footage          491
archive_sound             16
Name: count, dtype: int64

In [51]:
films_acteurs = films_personnes[(films_personnes['category'] =='actor')|(films_personnes['category'] =='actress') ]
films_acteurs

,adult,budget,genres,id_tmdb,imdb_id,original_language,original_title,overview,popularity,poster_path,...,vote_average,vote_count,directors,writers,nconst,category,characters,primaryName,knownForTitles,year
0,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,7.881,1555,nm0001885,"nm0001885,nm0797604",nm0001951,actress,"[""Selma Jezkova""]",Björk,"tt0168629,tt11138512,tt0138545,tt0110413",2000
1,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,7.881,1555,nm0001885,"nm0001885,nm0797604",nm0000366,actress,"[""Kathy""]",Catherine Deneuve,"tt0283832,tt0061395,tt0168629,tt0058450",2000
2,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,7.881,1555,nm0001885,"nm0001885,nm0797604",nm0001556,actor,"[""Bill Houston""]",David Morse,"tt0120689,tt0887912,tt0117500,tt0816711",2000
3,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,7.881,1555,nm0001885,"nm0001885,nm0797604",nm0001780,actor,"[""Jeff""]",Peter Stormare,"tt0116282,tt0168629,tt0355295,tt0360486",2000
4,False,12800000,"['Drama', 'Crime']",16,tt0168629,en,Dancer in the Dark,"Selma, a Czech immigrant on the verge of blind...",13.781,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,...,7.881,1555,nm0001885,"nm0001885,nm0797604",nm0001297,actor,"[""Oldrich Novy""]",Joel Grey,"tt0068327,tt0089901,tt0168629,tt1024715",2000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217108,False,0,['Action'],222409,tt1512732,en,Braille,Nick's blindness is symbolic to his regret for...,0.824,/1DxERMJ0vi9IoDnO4QM6HNrzvdW.jpg,...,6.000,1,nm2065393,"nm2065393,nm1863128",nm3441998,actor,"[""Nick""]",Nicholas Baldas,"tt23813124,tt23812386,tt4460388,tt2119491",2011
217109,False,0,['Action'],222409,tt1512732,en,Braille,Nick's blindness is symbolic to his regret for...,0.824,/1DxERMJ0vi9IoDnO4QM6HNrzvdW.jpg,...,6.000,1,nm2065393,"nm2065393,nm1863128",nm3618719,actress,"[""Stephanie""]",Stephanie Bendixsen,"tt1512732,tt6289700,tt1945978,tt2631144",2011
217124,False,0,"['Thriller', 'Horror', 'Action', 'Adventure', ...",231003,tt2011045,en,Hombre Y Tierra,"Mauro Bosque was an adventurer, a survivalist,...",0.840,/4XkuT5L61uFDp7f2VAzKhVhzi5F.jpg,...,5.200,3,nm1870338,"nm1870338,nm2566773",nm1285227,actor,"[""Mauro Bosque""]",Maurice Ripke,"tt2011045,tt0455275,tt0460843,tt0479948",2011
217125,False,0,"['Thriller', 'Horror', 'Action', 'Adventure', ...",231003,tt2011045,en,Hombre Y Tierra,"Mauro Bosque was an adventurer, a survivalist,...",0.840,/4XkuT5L61uFDp7f2VAzKhVhzi5F.jpg,...,5.200,3,nm1870338,"nm1870338,nm2566773",nm2571809,actor,"[""Chucho the Producer""]",Julian Guevara,"tt0366048,tt0455275,tt0460843,tt2011045",2011
217126,False,0,"['Thriller', 'Horror', 'Action', 'Adventure', ...",231003,tt2011045,en,Hombre Y Tierra,"Mauro Bosque was an adventurer, a survivalist,...",0.840,/4XkuT5L61uFDp7f2VAzKhVhzi5F.jpg,...,5.200,3,nm1870338,"nm1870338,nm2566773",nm2052348,actor,"[""The Driver""]",Robert Stewart,"tt2011045,tt2330396,tt0826542,tt0483350",2011

In [52]:
films_acteurs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 104776 entries, 0 to 217126
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   adult                 104776 non-null  bool
 1   budget                104776 non-null  int64
 2   genres                104776 non-null  object
 3   id_tmdb               104776 non-null  int64
 4   imdb_id               104776 non-null  object
 5   original_language     104776 non-null  object
 6   original_title        104776 non-null  object
 7   overview              104776 non-null  object
 8   popularity            104776 non-null  float64
 9   poster_path           104776 non-null  object
 10  production_countries  104776 non-null  object
 11  release_date          104776 non-null  object
 12  revenue               104776 non-null  int64
 13  runtime               104776 non-null  int64
 14  spoken_languages      104776 non-null  object
 15  status                104776 non-null  object
 16  title                 104776 non-null  object
 17  vote_average          104776 non-null  float64
 18  vote_count            104776 non-null  int64
 19  directors             104776 non-null  object
 20  writers               104776 non-null  object
 21  nconst                104776 non-null  object
 22  category              104776 non-null  object
 23  characters            104776 non-null  object
 24  primaryName           104776 non-null  object
 25  knownForTitles        104776 non-null  object
 26  year                  104776 non-null  int64
dtypes: bool(1), float64(2), int64(6), object(18)
memory usage: 21.7+ MB

In [53]:
df_acteur = pd.DataFrame(columns=['acteur','nombre'])

for i in films_acteurs['primaryName'].items():
    # print(i[1])
    # print(i[1])
    acteur = i[1]
    if acteur not in df_acteur['acteur'].values:
    # Ajouter une nouvelle ligne
        new_row = pd.DataFrame({'acteur': [acteur], 'nombre': [1]})
        df_acteur = pd.concat([df_acteur, new_row], ignore_index=True)
    else:
     # Incrémenter le compteur
        idx = df_acteur[df_acteur['acteur'] == acteur].index
        df_acteur.loc[idx, 'nombre'] += 1
df_acteur

KeyboardInterrupt:

In [71]:
df_acteur.to_csv('./donnees/stat/acteur_nombre_films.csv', sep="\t")

In [57]:
films_acteurs['genres'] = films_acteurs['genres'].apply(lambda x : eval(x))

C:\Users\LOTUS\AppData\Local\Temp\ipykernel_12880\1686172064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_acteurs['genres'] = films_acteurs['genres'].apply(lambda x : eval(x))

In [ ]:
# df_acteur_genre = pd.DataFrame(columns=['acteur','genre','nombre'])

# for i in films_acteurs.index:
#     for acteur in films_acteurs.loc[i, 'primaryName']:
#         # print(f"\n {acteur}")
#         for genre in films_acteurs.loc[i, 'genres']:
#             # print(genre)
#             if acteur in df_acteur_genre['acteur'].values:
#                 if genre not in df_acteur_genre['genre'][df_acteur_genre['acteur']==acteur].values :
#                     # Use pd.concat instead of append
#                     new_row = pd.DataFrame([{'acteur': acteur, 'genre': genre, 'Nombre': 1}])
#                     df_acteur_genre = pd.concat([df_acteur_genre, new_row], ignore_index=True)
#                 if genre in df_acteur_genre['genre'][df_acteur_genre['acteur']==acteur].values:
#                     df_acteur_genre.loc[(df_acteur_genre['acteur'] == acteur) & (df_acteur_genre['genre'] == genre), 'Nombre'] += 1
#             else : 
#                 new_row = pd.DataFrame([{'acteur': acteur, 'genre': genre, 'Nombre': 1}])
#                 df_acteur_genre = pd.concat([df_acteur_genre, new_row], ignore_index=True)
# df_acteur_genre

In [64]:
from collections import defaultdict
import pandas as pd

# Initialisation d'une structure pour stocker temporairement les résultats
temp_data = defaultdict(int)  # Utilisez un seul defaultdict(int)
films_acteurs['primaryName'] = films_acteurs['primaryName'].apply(lambda x: x if isinstance(x, list) else [x])
# Parcourir les données
for i in films_acteurs.index:
    acteurs = films_acteurs.loc[i, 'primaryName']
    genres = films_acteurs.loc[i, 'genres']
    for acteur in acteurs:
        for genre in genres:
            temp_data[(acteur, genre)] += 1  # Incrémenter directement avec le tuple comme clé

# Construire la DataFrame à partir de la structure temporaire
rows = [{'acteur': acteur, 'genre': genre, 'Nombre': count} 
        for (acteur, genre), count in temp_data.items()]
df_acteur_genre = pd.DataFrame(rows)

C:\Users\LOTUS\AppData\Local\Temp\ipykernel_12880\3780337125.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films_acteurs['primaryName'] = films_acteurs['primaryName'].apply(lambda x: x if isinstance(x, list) else [x])

<class 'collections.defaultdict'>

In [70]:
df_acteur_genre.to_csv('./donnees/stat/df_acteur_genre.csv', sep="\t")

In [54]:
df_films_liste_acteurs=pd.DataFrame(columns=['id_tmdb','liste_acteurs'])

for i in films_acteurs['id_tmdb'].unique():
  liste_acteurs = films_acteurs.loc[films_acteurs['id_tmdb'] == i, 'primaryName'].tolist()
  # print(i)
  if i not in df_films_liste_acteurs['id_tmdb']:
    new_row = pd.DataFrame([{'id_tmdb': i, 'liste_acteurs': liste_acteurs}])
    df_films_liste_acteurs = pd.concat([df_films_liste_acteurs, new_row], ignore_index=True)
df_films_liste_acteurs

      id_tmdb                                      liste_acteurs
0          16  [Björk, Catherine Deneuve, David Morse, Peter ...
1          22  [Johnny Depp, Geoffrey Rush, Orlando Bloom, Ke...
2          24  [Uma Thurman, David Carradine, Daryl Hannah, M...
3          58  [Johnny Depp, Orlando Bloom, Keira Knightley, ...
4          67  [Kais Nashif, Ali Suliman, Lubna Azabal, Hamza...
...       ...                                                ...
10487  214142  [Ralph Amoussou, Ralph Amoussou, Marème Demba ...
10488  215034  [Chedly Arfaoui, Tawfik Bahri, Lasaad Ben Abda...
10489  219173  [Erica Rivas, Nicasio Galán, Zenón Galán, Rubé...
10490  222409  [Nicky Wright, Renny Holder, Zero Murray, Dave...
10491  231003    [Maurice Ripke, Julian Guevara, Robert Stewart]

[10492 rows x 2 columns]

In [55]:
df_films_liste_acteurs.to_csv('./donnees/stat/df_films_liste_acteurs.csv', sep="\t")

liste des films par acteurs

In [3]:
films_personnes = pd.read_csv("./donnees/export_films_personnes.csv", sep='\t')
films_personnes= films_personnes.drop(['Unnamed: 0.1','Unnamed: 0'], axis = 1) 
films_personnes.columns

Index(['adult', 'budget', 'genres', 'id_tmdb', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'title', 'vote_average', 'vote_count',
       'directors', 'writers', 'nconst', 'category', 'characters',
       'primaryName', 'knownForTitles', 'year'],
      dtype='object')

In [5]:
films_personnes_acteur = films_personnes[['id_tmdb','title','poster_path','overview','year','genres','popularity','vote_average','category','primaryName']]
films_personnes_acteur = films_personnes_acteur[films_personnes_acteur['category'].isin(['actress','actor'])]
films_personnes_acteur = films_personnes_acteur.drop_duplicates()
films_personnes_acteur

,id_tmdb,title,poster_path,overview,year,genres,popularity,vote_average,category,primaryName
0,16,Dancer in the Dark,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,"Selma, a Czech immigrant on the verge of blind...",2000,"['Drama', 'Crime']",13.781,7.881,actress,Björk
1,16,Dancer in the Dark,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,"Selma, a Czech immigrant on the verge of blind...",2000,"['Drama', 'Crime']",13.781,7.881,actress,Catherine Deneuve
2,16,Dancer in the Dark,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,"Selma, a Czech immigrant on the verge of blind...",2000,"['Drama', 'Crime']",13.781,7.881,actor,David Morse
3,16,Dancer in the Dark,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,"Selma, a Czech immigrant on the verge of blind...",2000,"['Drama', 'Crime']",13.781,7.881,actor,Peter Stormare
4,16,Dancer in the Dark,/8Wdd3fQfbbQeoSfWpHrDfaFNhBU.jpg,"Selma, a Czech immigrant on the verge of blind...",2000,"['Drama', 'Crime']",13.781,7.881,actor,Joel Grey
...,...,...,...,...,...,...,...,...,...,...
217108,222409,Braille,/1DxERMJ0vi9IoDnO4QM6HNrzvdW.jpg,Nick's blindness is symbolic to his regret for...,2011,['Action'],0.824,6.000,actor,Nicholas Baldas
217109,222409,Braille,/1DxERMJ0vi9IoDnO4QM6HNrzvdW.jpg,Nick's blindness is symbolic to his regret for...,2011,['Action'],0.824,6.000,actress,Stephanie Bendixsen
217124,231003,Hombre Y Tierra,/4XkuT5L61uFDp7f2VAzKhVhzi5F.jpg,"Mauro Bosque was an adventurer, a survivalist,...",2011,"['Thriller', 'Horror', 'Action', 'Adventure', ...",0.840,5.200,actor,Maurice Ripke
217125,231003,Hombre Y Tierra,/4XkuT5L61uFDp7f2VAzKhVhzi5F.jpg,"Mauro Bosque was an adventurer, a survivalist,...",2011,"['Thriller', 'Horror', 'Action', 'Adventure', ...",0.840,5.200,actor,Julian Guevara
217126,231003,Hombre Y Tierra,/4XkuT5L61uFDp7f2VAzKhVhzi5F.jpg,"Mauro Bosque was an adventurer, a survivalist,...",2011,"['Thriller', 'Horror', 'Action', 'Adventure', ...",0.840,5.200,actor,Robert Stewart

In [9]:
df_acteurs_liste_films = (
    films_personnes_acteur.groupby('primaryName')['id_tmdb']
    .apply(list)
    .reset_index()
    .rename(columns={'primaryName': 'acteur', 'id_tmdb': 'liste_films'})
)

df_acteurs_liste_films

,acteur,liste_films
0,'Ganja' Karuppu,"[455032, 373587, 48759, 63636, 69509, 69546, 6..."
1,'Nandha' Saravanan,[69539]
2,'Poo' Ram,"[873696, 680652, 595228]"
3,'Punnagai Poo' Geetha,[63666]
4,'University' Jeevan,[330629]
...,...,...
54130,Üllar Saaremäe,[69219]
54131,Ünal Silver,[677053]
54132,Þorsteinn Gunnar Bjarnason,[575559]
54133,Þröstur Leó Gunnarsson,"[10989, 63907]"
54134,Þrúður Vilhjálmsdóttir,[10989]

In [10]:
df_acteurs_liste_films.to_csv('./donnees/stat/df_acteurs_liste_films.csv', sep="\t")